{% extends "base/content.html" %}
{% set prevmode="mod" %}
{% block scripts %}
{% endblock %}


{%- block pagenav %}
{%- endblock %}

{%- block  content %}
    <div class="module" style="top: 0;bottom:0;left:0;right:0; position:absolute;padding:0;">

    <iframe style="top: 0;bottom:0; height:100%; border:none;" src="http://webchat.52k.de/ipv6.irc.esper.net:+6697/?show_timestamps=true&use_24_hour_timestamps=true&show_emoticons=true&nick=SDUser-?&theme=mini#spacedock" style="border:0;" class="fulliframe" width="100%"></iframe>

    </div>
{%- endblock %}

{% block modals %}
{% endblock %}