{% extends "base/content.html" %}
{% set prevmode="mod" %}
{% block scripts %}
{% endblock %}


{%- block pagenav %}
{%- endblock %}

{%- block  content %}
    <div class="module">
    <h1>Donate</h1>
        <br />
    <b>As you might know Spacedock only survives with your help.</b><br /><br />
        Apart from donating money to keep the Infrastructure running you can also donate time or hardware:
    <br /><br />
    <h3>Donate Money</h3>
    You can donate money via Patreon or wire it to VITASs Bank account.<br />
    <a href="" class="btn primary">Donate via Patreon</a>
    <a href="" class="btn secondary">Donate via Wire transfer</a>
    <br /><br />
    <h3>Donate Time</h3>
    We are always shorthanded.<br/>
    To prevent us from burning out we are looking for every Team-player whos willing to help.<br/>
    We offer a professional Project with lots of opertunities to get involved.<br />
    We are looking for:
    <ul>
        <li>
            Network Admins / System Engineers <br />
            (Linux, Docker, MariaDB, Apache,...)<br />
            to help us with our infrastructure <br />
            (We are running our own global CDN)<br />
        </li>
        <li>
            Coders <br />
            (Mainly Python but PHP doesn't hurt)<br />
            to help with backend code<br />
        </li>
        <li>
            More Coders <br />
            (c#)<br />
            to code new exciting things<br />
        </li>
        <li>
            Frontend Devs <br />
            (HTML5, JS, CSS3,..the usual)<br />
            to help improving and bugfixing our UI.<br />
        </li>
        <li>
            Graphic artists <br />
            (Photoshop, Illustrator, 3D Software)<br />
            Theres always the need to make graphics...<br />
        </li>
        <li>
            Nice Humans <br />
            (We use OTRS for Support Mails)<br />
            to help with support.<br />
        </li>
        </ul>
<br /><br />
    <h3>Hardware</h3>
    You can either donate Servers if they conform to the following specs:
        <ul>
            <li>
                In a propper Datacenter
            </li>
            <li>
                Can provide root access (at least to a vm)
            </li>
            <li>
                No Atom or ARM CPU
            </li>
            <li>
                At least 4GB of RAM
            </li>
            <li>
                At least 100 Mbit/s Connection
            </li>
            <li>
                Available for at least 6 month
            </li>
            <li>
                At least 160GB of usable Diskspace
            </li>
        </ul>


    OR you can send spare Hardware to our Team members to give them a great tools to produce great things for you.<br />
    (We are spread out all around the globe so there should be someone near you in despereate need for some spare parts)
        <br>
        <br>
    <h3>Tell others</h3>
    You can also tell others about this site and our needs.
    Maybe theyre willing to help us too.
        <br>
        <br>
    <h3>Upload Mods</h3>
    We support multiple Games.
    (and if one is missing you can always request it)
    So please fill the site with your great work!
    <br>
    <br>
    <h3>Other ways to help</h3>
    If you have other idears how you could help us out please join us in our chat room and tell us!

    </div>
{%- endblock %}

{% block modals %}
{% endblock %}