[meta]
# enviornment=prod for deployed instances
environment=dev

[dev]
# The displayed name of this site
site-name=Spacedock.Info
# The email where users who need help write to
support-mail=support@spacedock.info
# Where the source code of your page is hosted. If you have forked and
# edited the code, change this. Otherwise don't.
source-code=https://github.com/KSP-SpaceDock/KerbalStuff
# If you have an IRC Channel for providing support, you may add the adress here.
irc-channel=http://webchat.esper.net/?channels=spacedock
# If you have a donation link, you may add the address here.
donation-link=https://www.patreon.com/user?u=2903335&ty=p
# If you have a donation link and want it displayed below the header, set this to 'true'
donation-header-link=false

# Change this to the actual location of your site
protocol=http
domain=localhost:5000
# Set to true to recompile resources on every request
# Turn this off in production
debug-static-recompile=false
# Change this value to something random and secret
secret-key=hello world

# Enable offloading of downloads to the reverse proxy server. Make sure the reverse proxy is set up!
# valid values are:
# false - disable offloading
# nginx - enable X-Accel headers
# apache - enable X-Sendfile headers
use-x-accel=false

# Set this to False to disable registration
registration=True

# On the debug server, this lets you choose what to bind to
debug-host=0.0.0.0
debug-port=5000

# To send emails, fill out these details
smtp-host=
smtp-port=
smtp-user=
smtp-password=
smtp-tls=false
# Exceptions are emailed here
error-to=
error-from=

# SQL connection string
connection-string=postgresql://postgres:somewhatsecretpassword@db/kerbalstuff

# Redis connection string
# http://docs.celeryproject.org/en/3.0/getting-started/brokers/redis.html
redis-connection=redis://redis:6379/0

# Absolute path to the directory you want to store mods in
storage=/opt/spacedock/storage

# Configure these to determine who can send GitHub-style hook notifications to the site
# to configure an automatic redeployment. Defaults to trusting GitHub and localhost.
hook_ips = 204.232.175.64/27,192.30.252.0/22,127.0.0.1
hook_repository=KSP-SpaceDock/KerbalStuff
hook_branch=master
restart_command=sudo systemctl restart kerbalstuff

# Various services you can plug in
# GitHub (Login)
gh-oauth-id=
gh-oauth-secret=
# Google (Login)
google-oauth-id=
google-oauth-secret=
# Ads
project_wonderful_id=
# Analytics
google_analytics_id=
google_analytics_domain=
# Blog comments
disqus_id=

# NetKAN integration
netkan_repo_path=
github_user=
github_pass=

# Thumbnail size in WxH format, leave blank to disable screenshots
thumbnail_size=320x320