[meta]
# enviornment=prod for deployed instances
environment=dev

[dev]
# Change this to the actual location of your site
protocol=http
domain=localhost:5000
# Set to true to recompile resources on every request
# Turn this off in production
debug-static-recompile=false
# Change this value to something random and secret
secret-key=hello world

# On the debug server, this lets you choose what to bind to
debug-host=0.0.0.0
debug-port=5000

# To send emails, fill out these details
smtp-host=
smtp-port=
smtp-user=
smtp-password=

# SQL connection string
connection-string=postgresql://postgres@localhost/kerbalstuff

# Absolute path to the directory you want to store mods in
storage=/path/to/storage

# Configure these to determine who can send GitHub-style hook notifications to the site
# to configure an automatic redeployment. Defaults to trusting GitHub and localhost.
hook_ips = 204.232.175.64/27,192.30.252.0/22,127.0.0.1
hook_repository=SirCmpwn/KerbalStuff
hook_branch=master
restart_command=sudo systemctl restart kerbalstuff

# Advertising and analytics, if you want them.
project_wonderful_id=
google_analytics_id=
google_analytics_domain=
