Archey3==0.4
asciinema==0.9.8
astor==0.4
blessings==1.6
bpython==0.14.1
Brlapi==0.6.3
cffi==0.9.2
curtsies==0.1.18
Cython==0.22
docopt==0.6.2
docutils==0.12
flake8==2.3.0
Flask==0.10.1
ghhooks==1.0
greenlet==0.4.6
gunicorn==19.3.0
hy==0.10.1
ipython==3.1.0
itsdangerous==0.24
Jinja2==2.7.3
livestreamer==1.12.1
louis==2.5.2
MarkupSafe==0.23
mccabe==0.3
namcap==3.2.5
parsedatetime==1.4
pep8==1.6.2
ply==3.6
pyalpm==0.7
PyAudio==0.2.8
pycparser==2.12
pyelftools==0.23
pyflakes==0.8.1
Pygments==2.0.2
pygobject==3.16.1
pystache==0.5.3
python-librtmp==0.2.1
pyttsx==1.1
pyxdg==0.25
PyYAML==3.11
ranger==1.7.1
requests==2.7.0
rply==0.7.2
six==1.9.0
SpeechRecognition==1.1.1
Sphinx==1.2.3
team==1.0
tvdb-api==1.9
twitter==1.15.0
virtualenv==12.1.1
Werkzeug==0.9.6
youtube-dl==2015.4.26
