{% extends "layout.html" %}
{% block scripts %}
{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}" />
{% endblock %}
{% block body %}
<div class="well">
    <div class="container">
        <h1>Thanks for registering!</h1>
    </div>
</div>
<div class="container">
    <p>We've sent an email to the address you provided. It should arrive shortly. Once it does,
    click the link inside to complete your registration. If you run into any trouble, please send an email to
    <a href="mailto:{{ support_mail }}">{{ support_mail }}</a> to get it sorted out.</p>
    {% if activation_mail %}
    <p>
    Alternatively, you can use automatic email activation by sending an email to <a href="mailto:{{ activation_mail }}">{{ activation_mail }}</a> with the subject !activate.
    </p>
    {% endif %}
</div>
{% endblock %}
