{% extends "layout.html" %}
{% block styles %}
    <link rel="stylesheet" href="/static/bootstrap-table.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}" />
        <link rel="stylesheet" type="text/css" href="/static/editor.css" />
{% endblock %}
{% block scripts %}
    <!-- Latest compiled and minified JavaScript -->
<script src="/static/bootstrap-table.min.js"></script>
<script src="/static/extentions/editable/bootstrap-table-en-editable.min.js"></script>
<!-- Latest compiled and minified Locales -->
<script src="/static/locale/bootstrap-table-en-US.min.js"></script>
<script src="/static/chosen.jquery.min.js"></script>
<script src="/static/create.js"></script>
    <script src="/static/editor.js"></script>
<script src="/static/marked.js"></script>
<script type="text/javascript">
            $( document ).ready(function() {
                $("#pname").chosen({max_selected_options: 1, no_results_text: "No Options found"});
                $("#ganame").chosen({max_selected_options: 1, no_results_text: "No Options found"});
            });
editor = new Editor()
editor.render()
</script>
{% endblock %}
{% block body %}
<div class="well">
    <div class="container">
        <h1>Admin Stuff</h1>
    </div>
</div>
<div class="container">

    <!-------->
    <div id="content">
        <ul id="tabs" class="nav nav-tabs space-left-right" data-tabs="tabs">
            <li class="active"><a href="#users" data-toggle="tab">Users</a></li>
            <li><a href="#blog" data-toggle="tab">Blog</a></li>
            <li><a href="#publishers" data-toggle="tab">Publishers</a></li>
            <li><a href="#games" data-toggle="tab">Games</a></li>
            <li><a href="#gameversion" data-toggle="tab">Game Versions</a></li>
            <li><a href="#email" data-toggle="tab">E-Mail</a></li>
            <li><a href="#links" data-toggle="tab">Links</a></li>
        </ul>
        <div id="my-tab-content" class="tab-content">
            <div class="tab-pane active" id="users">
                <div class="container admin-container space-left-right">
                    <br />
                    <p>There are {{ users }} users and {{ mods }} mods.</p>
                </div>


                    <div class = "table-responsive bootstrap-table space-left-right">
                        <table class = "table" data-toggle="table" data-pagination="true" 	data-striped="true" data-search="true" trimOnSearch="true"  searchAlign="left" >



                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>Created</th>
                                <th>E-Mail</th>
                                <th>Forums</th>
                                <th>IRC</th>
                                <th>Twitter</th>
                                <th>Reddit</th>
                                <th>Location</th>
                                <th>Description</th>
                                <th>Public</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for user in usrs %}
                            <tr>
                                <td><a href="/profile/{{ user.username }}">{{ user.username }}</a></td>
                                <td>{{ user.created }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.forumUsername }}</td>
                                <td>{{ user.ircNick }}</td>
                                <td>{{ user.twitterUsername }}</td>
                                <td>{{ user.redditUsername }}</td>
                                <td>{{ user.location }}</td>
                                <td>{{ user.description }}</td>
                                <td>{{ user.public }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>

            </div>
            <div class="tab-pane" id="blog">
                <div class="container admin-container space-left-right">
                    <h3>New Blog Post</h3>
                    <form role="form" action="/blog/post" method="POST">
                        <div class="form-group">
                            <label for="post-title">Title</label>
                            <input type="text" class="form-control" id="post-title" name="post-title" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <label for="post-body">Body <small class="text-muted">Markdown supported</small></label>
                            <textarea name="post-body" id="post-body" class="form-control input-block-level" rows=10></textarea>
                        </div>
                        <input type="submit" class="btn btn-primary btn-block" value="Publish">
                    </form>
                </div>
            </div>
            <div class="tab-pane" id="publishers">
                <div class="container admin-container space-left-right">
                    {% if len(publishers) == 0 %}
                    <h3>Publishers</h3>
                    <p>You have not added any publishers. Modders will not be able to create mods until you add at least one.</p>
                    {% else %}
                    <div class = "table-responsive bootstrap-table space-left-right">
                        <table class = "table" data-toggle="table" data-pagination="true" 	data-striped="true" data-search="true" trimOnSearch="true"  searchAlign="left" >




                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Created</th>
                                <th>Short Description</th>
                                <th>Description</th>
                                <th>Link</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for p in publishers %}
                            <tr>
                                <td>{{ p.name }}</td>
                                <td>{{ p.created }}</td>
                                <td>{{ p.short_description }}</td>
                                <td>{{ p.description }}</td>
                                <td><a href="{{ p.link }}" target=""_BLANK">{{ p.link }}</a></td>
                            </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    {% endif %}
                    <form role="form" action="/publishers/create" method="POST">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" id="pname" name="pname" class="form-control input-block-level" placeholder="Publisher name...">
                            </div>
                            <div class="col-md-2">
                                <input type="submit" class="btn btn-primary btn-block" value="Add Publisher">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane" id="games">
                <div class="container admin-container space-left-right">
                    {% if len(games) == 0 %}
                    <h3>Games</h3>
                    <p>You have not added any Games. Modders will not be able to create mods until you add at least one.</p>
                    {% else %}
                    <div class = "table-responsive bootstrap-table space-left-right">
                        <table class = "table" data-toggle="table" data-pagination="true" 	data-striped="true" data-search="true" trimOnSearch="true"  searchAlign="left" >




                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Short Name</th>
                                <th>Created</th>
                                <th>Short Description</th>
                                <th>Description</th>
                                <th>Link</th>
                                <th>Release Date</th>
                                <th>File Formats</th>
                                <th>Rating</th>
                                <th>Active</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for g in games %}
                            <tr>
                                <td>{{ g.name }}</td>
                                <td>{{ g.short }}</td>
                                <td>{{ g.created }}</td>
                                <td>{{ g.short_description }}</td>
                                <td>{{ g.description }}</td>
                                <td><a href="{{ g.link }}" target=""_BLANK">{{ g.link }}</a></td>
                                <td>{{ g.releasedate }}</td>
                                <td>{{ g.fileformats }}</td>
                                <td>{{ g.rating }}</td>
                                <td>{{ g.active }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    {% endif %}

                    <form role="form" action="/games/create" method="POST">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" id="gname" name="gname" class="form-control input-block-level" placeholder="Game name...">
                            </div>
                            <div class="col-md-4">
                                <input type="text" id="sname" name="sname" class="form-control input-block-level" placeholder="Short name (for URL)...">
                            </div>
                            <div class="col-md-4">
                                <select id="pname" name="pname" class="form-control input-lg">
                                    {% for p in publishers %}
                                    <option value="{{p.id}}" {% if loop.first %}selected{% endif %}>{{p.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-md-2">
                                <input type="submit" class="btn btn-primary btn-block" value="Add Game">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane" id="gameversion">
                <div class="container admin-container space-left-right">
                    {% if len(versions) == 0 %}
                    <h3>Versions</h3>
                    <p>You have not added any Versions. Modders will not be able to create mods until you add at least one.</p>
                    {% else %}
                    <div class = "table-responsive bootstrap-table space-left-right">
                        <table class = "table" data-toggle="table" data-pagination="true" 	data-striped="true" data-search="true" trimOnSearch="true"  searchAlign="left" >




                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Game</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for v in versions %}
                            <tr>
                                <td>{{ v.friendly_version }}</td>
                                <td>{{ v.game.name }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    {% endif %}

                    <form role="form" action="/versions/create" method="POST">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" id="friendly_version" name="friendly_version" class="form-control input-block-level" placeholder="Version name...">
                            </div>

                            <div class="col-md-4">
                                <select id="ganame" name="ganame" class="form-control input-lg">
                                    {% for g in games %}
                                    <option value="{{g.id}}" {% if loop.first %}selected{% endif %}>{{g.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2">
                                <input type="submit" class="btn btn-primary btn-block" value="Add Version">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane" id="email">
                <div class="container admin-container space-left-right">
                    <h3>Email Everyone</h3>
                    <form role="form" action="/admin/email" method="POST">
                        <p>This will send an email to loads of people, be careful.</p>
                        <div class="checkbox">
                            <label for="modders-only">
                                <input type="checkbox" name="modders-only" id="modders-only" style="position: relative; top: -3px">
                                Email published modders only
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="subject">Subject</label>
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
                        </div>
                        <div class="form-group">
                            <label for="body">Body</label>
                            <textarea name="body" id="body" class="form-control input-block-level" rows=10></textarea>
                        </div>
                        <input type="submit" class="btn btn-primary btn-block" value="Send">
                    </form>
                </div>
            </div>
            <div class="tab-pane" id="links">
                    <div class = "table-responsive bootstrap-table space-left-right">
                        <table class = "table" data-toggle="table" data-pagination="true" 	data-striped="true" data-search="true" trimOnSearch="true"  searchAlign="left" >

                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Link</th>
                            </tr>
                            </thead>

                            <tbody>

                            <tr>
                                <td><a href="http://dev.spacedock.info" target="_BLANK">SpaceDock DEV</a></td>
                                <td><a href="http://dev.spacedock.info" target="_BLANK">http://dev.spacedock.info</a></td>
                            </tr>
                            <tr>
                                <td><a href="http://bh.spacedock.info/main" target="_BLANK">SpaceDock Bloodhound (Ticket&Wiki)</a></td>
                                <td><a href="http://bh.spacedock.info/main" target="_BLANK">http://bh.spacedock.info/main</a></td>
                            </tr>
                            <tr>
                                <td><a href="http://stats.52k.de" target="_BLANK">Web statistics</a></td>
                                <td><a href="http://stats.52k.de" target="_BLANK">http://stats.52k.de</a></td>
                            </tr>
                            <tr>
                                <td><a href="http://mon.spacedock.info" target="_BLANK">Monitoring</a></td>
                                <td><a href="http://mon.spacedock.info" target="_BLANK">http://mon.spacedock.info/</a></td>
                            </tr>
                            <tr>
                                <td><a href="http://s3n1.52k.de" target="_BLANK">Webmail</a></td>
                                <td><a href="http://s3n1.52k.de" target="_BLANK">http://s3n1.52k.de</a></td>
                            </tr>
                            <tr>
                                <td><a href="https://www.patreon.com/spacedock?ty=p" target="_BLANK">Patreon (Donations)</a></td>
                                <td><a href="https://www.patreon.com/spacedock?ty=p" target="_BLANK">https://www.patreon.com/spacedock?ty=p</a></td>
                            </tr>
                            <tr>
                                <td><a href="http://forum.kerbalspaceprogram.com/index.php?/topic/132186-spacedockinfo-dev-thread-the-spacedock-replacement-site-fully-operational/&page=1" target="_BLANK">KSP Forum Thread</a></td>
                                <td><a href="http://forum.kerbalspaceprogram.com/index.php?/topic/132186-spacedockinfo-dev-thread-the-spacedock-replacement-site-fully-operational/&page=1" target="_BLANK">Too Long (copy from link)</a></td>
                            </tr>
                            <tr>
                                <td><a href="http://s3n1.52k.de/otrs/" target="_BLANK">OTRS (support mail)</a></td>
                                <td><a href="http://s3n1.52k.de/otrs/" target="_BLANK">http://s3n1.52k.de/otrs/</a></td>
                            </tr>
                            <tr>
                                <td><a href="http://git.spacedock.info/user/login" target="_BLANK">private git repo for SD</a></td>
                                <td><a href="http://git.spacedock.info/user/login" target="_BLANK">http://git.spacedock.info/user/login</a></td>
                            </tr>

                            </tbody>

                        </table>
                    </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#tabs').tab();
        });
    </script>
</div>

{% endblock %}
