        <footer>
            <div class="container centered">
                <hr />
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="{{ source_code }}">Source Code</a></li>
                            <li><a href="{{ source_code }}/blob/master/api.md">API</a></li>
                            <li><a href="/privacy">Terms & Privacy</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="mailto:{{ support_mail }}">Support</a></li>
                            {% if not irc_channel == "" %}
                            <li><a href="{{ irc_channel }}" target="_blank">IRC</a></li>
                            {% endif %}
                            {% if not donation_link == "" %}
                            <li><a href="{{ donation_link }}">Donate</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </footer>