# Anything set in this file will override the corresponding entry in config.ini
# Key names are UPPERCASE and replace dashes with underscores
# Ex: site-name=Spacedock Dev becomes SITE_NAME=Spacedock Dev
# Copy or link this file into the same directory as the docker-compose-deploy.yml file as 'deployment_settings.cfg', with your changes
SITE_NAME=
SUPPORT_MAIL=
SOURCE_CODE=
IRC_CHANNEL=
DONATION_LINK=
SHOW_DONATION_HEADER=
PROTOCOL=
DOMAIN=
DEBUG_STATIC_RECOMPILE=
SECRET_KEY=
USE_X_ACCEL=
REGISTRATION=
DEBUG_HOST=
DEBUG_PORT=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_TLS=
ERROR_TO=
ERROR_FROM=
CONNECTION_STRING=
REDIS_CONNECTION=
STORAGE=
HOOK_IPS=
HOOK_REPOSITORY=
HOOK_BRANCH=
RESTART_COMMAND=
GH_OAUTH_ID=
GH_OAUTH_SECRET=
GOOGLE_OAUTH_ID=
GOOGLE_OAUTH_SECRET=
PROJECT_WONDERFUL_ID=
GOOGLE_ANALYTICS_ID=
GOOGLE_ANALYTICS_DOMAIN=
DISQUS_ID=
NETKAN_REPO_PATH=
GITHUB_USER=
GITHUB_PASS=
