            <div class="iconlist">
                {%- listitem("License",mod.license,"basic-spread-text") %}
                {%- if total_authors == 1 %}{%- set title ="Author" %}{%- else %}{%- set title ="Authors" %}{%- endif %}
                {%- set item = '<a href="/profile/' ~ mod.user.username ~ '">' ~ mod.user.username ~ '</a>' %}
                {%- if total_authors != 1 %}{%- set item = item ~ ', ' %}{%- endif %}
                {%- for author in mod.shared_authors %}
                    {%- if author.accepted %}
                        {%- set item = item ~ ' <a href="/profile/' ~ author.user.username ~ '">' ~ author.user.username ~ '</a>' %}
                        {%- if not loop.last %}{%- set item = item ~ ',' %}{%- endif %}
                    {%- endif %}
                {%- endfor %}
                {%- listitem(title,item,"basic-lightbulb") %}
                {%- listitem("Game Version",latest.gameversion.friendly_version,"basic-cards-diamonds") %}
                {%- listitem("Last Updated",mod.updated.strftime('%Y-%m-%d'),"basic-clock") %}
                {%- listitem("Downloads","{:,}".format(mod.download_count),"basic-accelerator") %}
                {%- if mod.external_link %}
                    {%- if forum_thread %}
                       {%- set item='<a href="' ~ mod.external_link ~ '">Forum Thread</a>' %}
                    {%- else %}
                        {%- set item='<a href="' ~ mod.external_link ~ '">Link</a>' %}
                    {%- endif %}
                    {%- listitem("Mod Website",item,"basic-home") %}
                {%- endif %}
                {%- if mod.source_link %}
                    {%- listitem("Source code",'<a href="' ~ mod.source_link ~ '">Get Source</a>',"basic-usb") %}
                {%- endif %}
                {%- if mod.donation_link %}
                    {%- listitem("Support this Mod",'<a href="' ~  mod.donation_link ~ '">Donate</a>',"basic-heart") %}
                {%- endif %}
                {%- listitem("Followers","{:,}".format(mod.follower_count),"basic-eye") %}
            </div>