{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}" />
<style>
html { 
    background: url(/static/bg11.jpg) no-repeat center center fixed; 
}
</style>
{% endblock %}
{% block body %}
<h1 class="centered">A Community Modding Site</h1>
<p class="centered">Kerbal Space Program has long been plagued by poor modding sites. There have been sites that are just plain bad,
and sites that look suspiciously like money exchanged hands to get them in place. Squad has endorsed these sites
all the same, and so we thought it was about time for the community to step in and run our own modding site. Kerbal
Stuff is that site, and aims to fix the problems with the old and bring the community back into the loop.</p>
<h2 class="centered">Kerbal Stuff is great for</h2>
<ul class="nav nav-pills bold-pills" style="margin: 0 auto; width: 230px;">
    <li class="active"><a data-toggle="tab" href="#for-players">For Players</a></li>
    <li><a data-toggle="tab" href="#for-modders">For Modders</a></li>
</ul>
<div class="tab-content" style="margin-top: 50px;">
    <div class="tab-pane active" id="for-players">
        <div class="media icons">
            <span class="media-object pull-left">
                <span class="glyphicon glyphicon-send"></span>
            </span>
            <div class="media-body">
                <h2 class="media-heading">Emails when mods update</h2>
                <p>Easily keep track of your favorite mods. Don't bother checking the forums every 5 minutes, just sit back
                and we'll email you when the time comes.</p>
            </div>
        </div>
        <div class="media icons">
            <span class="media-object pull-left">
                <span class="glyphicon glyphicon-search"></span>
            </span>
            <div class="media-body">
                <h2 class="media-heading">Easy to use search</h2>
                <p>Unlike some previous attempts, Kerbal Stuff puts some effort into the search to make sure you find what
                you're looking for on the first try.</p>
            </div>
        </div>
        <div class="media icons">
            <span class="media-object pull-left">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
            <div class="media-body">
                <h2 class="media-heading">Changelogs and old versions</h2>
                <p>Got a nostalgic itch to scratch? Kerbal Stuff keeps around old versions of mods and includes the last version
                of KSP they worked with.</p>
            </div>
        </div>
        <div class="media icons">
            <span class="media-object pull-left">
                <span class="glyphicon glyphicon-asterisk"></span>
            </span>
            <div class="media-body">
                <h2 class="media-heading">Find new and cool mods</h2>
                <p>You already know the mods everyone's using. Kerbal Stuff features only new and interesting mods on the front
                page. Established mods don't need the exposure.</p>
            </div>
        </div>
        <p class="centered">Sounds good? Great, let's</p>
        <p class="centered"><a href="/browse" class="btn btn-lg btn-primary">Find Some Mods</a></p>
    </div>
    <div class="tab-pane" id="for-modders">
        <div class="media icons">
            <span class="media-object pull-left">
                <span class="glyphicon glyphicon-stats"></span>
            </span>
            <div class="media-body">
                <h2 class="media-heading">Keep track of your mods</h2>
                <p>We'll give you a history of downloads and we'll give it to you with nice pretty graphs. You can also export the raw data if you want.</p>
            </div>
        </div>
        <div class="media icons">
            <span class="media-object pull-left">
                <span class="glyphicon glyphicon-open"></span>
            </span>
            <div class="media-body">
                <h2 class="media-heading">Update in moments</h2>
                <p>No nonsense updates. Give us a version number, a zip file, and optionally a changelog, and your followers get an email with the latest version.</p>
            </div>
        </div>
        <div class="media icons">
            <span class="media-object pull-left">
                <span class="glyphicon glyphicon-eye-open"></span>
            </span>
            <div class="media-body">
                <h2 class="media-heading">Easy to find the old, exposure for the new</h2>
                <p>Got a popular mod? It'll be the first in the search results. Got a brand-new mod? We'll make sure you get the exposure you need.</p>
            </div>
        </div>
        <div class="media icons">
            <span class="media-object pull-left">
                <span class="glyphicon glyphicon-globe"></span>
            </span>
            <div class="media-body">
                <h2 class="media-heading">Open source</h2>
                <p>Wouldn't it be great if you could help make your modding site even better? You can! Kerbal Stuff is <a href="https://github.com/SirCmpwn/KerbalStuff">open source</a>.</p>
            </div>
        </div>
        <p class="centered">Sounds good? Great, let's</p>
        <p class="centered"><a href="/browse" class="btn btn-lg btn-primary">Find Some Mods</a></p>
    </div>
</div>
{% endblock %}
