{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}" />
{% endblock %}
{% block scripts %}
<script type="text/javascript">
editor = new Editor()
editor.render()
</script>
{% endblock %}
{% block body %}
<div class="well">
    <div class="container">
        <h1>Admin Stuff</h1>
    </div>
</div>
<div class="container">
    <p>There are {{ users }} users and {{ mods }} mods.</p>
    <h3>Newest Users</h3>
    <div class="row">
        {% for user in new_users %}
        <div class="col-md-2">
            <a href="/profile/{{ user.username }}">{{ user.username }}</a>
        </div>
        {% endfor %}
    </div>
    <h3>New Blog Post</h3>
    <form role="form" action="/blog/post" method="POST">
        <div class="form-group">
            <label for="post-title">Title</label>
            <input type="text" class="form-control" id="post-title" name="post-title" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="post-body">Body <small class="text-muted">Markdown supported</small></label>
            <textarea name="post-body" id="post-body" class="form-control input-block-level" rows=10></textarea>
        </div>
        <input type="submit" class="btn btn-primary btn-block" value="Publish">
    </form>
    <h3>Email Everyone</h3>
    <form role="form" action="/admin/email" method="POST">
        <p>This will send an email to loads of people, be careful.</p>
        <div class="checkbox">
            <label for="modders-only">
                <input type="checkbox" name="modders-only" id="modders-only" style="position: relative; top: -3px">
                Email published modders only
            </label>
        </div>
        <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <textarea name="body" id="body" class="form-control input-block-level" rows=10></textarea>
        </div>
        <input type="submit" class="btn btn-primary btn-block" value="Send">
    </form>
    <h3>Game Versions</h3>
    {% if len(versions) == 0 %}
    <p>You have not added any game versions. Modders will not be able to create mods until you add at least one.</p>
    {% else %}
    <p>Currently aware of these versions:</p>
    <div class="row">
        {% for v in versions %}
        <div class="col-md-2">
            {{ v.friendly_version }}
        </div>
        {% endfor %}
    </div>
    <p></p>
    {% endif %}
    <form role="form" action="/versions/create" method="POST">
        <div class="row">
            <div class="col-md-4">
                <input type="text" id="friendly_version" name="friendly_version" class="form-control input-block-level" placeholder="Version name...">
            </div>
            <div class="col-md-2">
                <input type="submit" class="btn btn-primary btn-block" value="Add Version">
            </div>
        </div>
    </form>
</div>
{% endblock %}
