{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />
{% endblock %}
{% block title %}
{% if search %}
<title>Search {{ site_name }}</title>
{% else %}
<title>{{ name }} on {{ site_name }}</title>
{% endif %}
{% endblock %}
{% block search %}
<form class="navbar-form navbar-right" role="search" action="/search" method="GET" style="margin-right: 5px;">
    <div class="form-group">
        <input type="text" class="form-control search-box" name="query" placeholder="Search mods..." value="{{query}}">
    </div>
</form>
{% endblock %}
{% block body %}
<div class="well">
    <div class="container">
        {% if rss %}
        <a href="{{ rss }}" class="pull-right"><img src="/static/rss.png" height=38 /></a>
        {% endif %}
        {% if search %}
        <a href="#" class="pull-right" data-toggle="modal" data-target="#advanced-modal">Advanced Search</a>
        <h1>Search results for "{{ query }}"</h1>
        {% else %}
        <h1>{{ name }}</h1>
        {% endif %}
    </div>
</div>
<div class="container">
    {% if search and not any(mods) %}
    <p>Nothing to see here. If you're looking for a specific mod, why not ask the modder to upload it here?</p>
    {% endif %}
    <div class="row">
    {% for mod in mods %}
        {% include "mod-box.html" %}
    {% endfor %}
    </div>
    <div style="margin-top: 30px" class="row">
        <div class="col-md-2">
            {% if page != 1 %}
            {% if search %}
            {# TODO #}
            {% else %}
            <a href="{{ url }}?page={{ page - 1 }}"
                class="btn btn-lg btn-primary btn-block">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
            </a>
            {% endif %}
            {% endif %}
        </div>
        <div class="col-md-2 col-md-offset-8">
            {% if page < total_pages %}
            {% if search %}
            {# TODO #}
            {% else %}
            <a href="{{ url }}?page={{ page + 1 }}"
                class="btn btn-lg btn-primary btn-block">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
            </a>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
<div class="modal fade" id="advanced-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Advanced Search</h4>
            </div>
            <div class="modal-body">
                <p>By using special search terms, you can narrow your results. Try these:</p>
                <ul>
                    <li><code>user:[author]</code> for mods by [author]</li>
                    <li><code>ksp:[version]</code> for mods compatible with [version]</li>
                    <li><code>downloads:&gt;[count]</code> for mods with at least [count] downloads</li>
                    <li><code>downloads:&lt;[count]</code> for mods with fewer than [count] downloads</li>
                    <li><code>followers:&gt;[count]</code> for mods with at least [count] followers</li>
                    <li><code>followers:&lt;[count]</code> for mods with fewer than [count] followers</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Got it</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
