{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='create.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chosen.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="/static/editor.css" />
{% endblock %}
{% block scripts %}
    <script src="/static/editor.js"></script>
<script src="/static/marked.js"></script>
<script src="/static/chosen.jquery.min.js"></script>
<script src="/static/create.js"></script>
                 <script language="javascript">


            $( document ).ready(function() {

                function updategame(){
                    var gamename = $("#pack-game option:selected").text();
                    var slug = $("#pack-game option:selected").attr("data-slug");
                    var gid = $("#pack-game option:selected").attr("value");
                    $(".gamename").html(gamename).attr("href","/" + slug);
                    if(gid != "3102"){ //if not ksp then hide ckan checkbox
                        $(".ckan").hide();
                    }else{
                        $(".ckan").show();
                    }
                    return;
                }


                updategame();

                $("#pack-game").chosen({max_selected_options: 1,no_results_text: "No Options found"});


              $("#pack-game").chosen().change(function() {
                 updategame();
              });
            });
            </script>
<script src="/static/list.js"></script>
{% endblock %}
{% block body %}
{% if not user.public %}
<div class="well">
    <div class="container">
        <h2>Your profile has to be public to create mod packs.</h2>
        <p>You can change it to public on your <a href="/profile/{{ user.username }}">profile page</a>.</p>
    </div>
</div>
{% else %}

<div class="header">
    <div class="vert-text">
        <h3>Create a new mod pack</h3>
        <p>Thanks for helping make {{ site_name }} more awesome!</p>
    </div>
</div>

<div class="well info">
    <div class="container centered">
        <div class="form-group">
            <h2 class="control-label">What game is it for?</h2>

            <select id="pack-game" name="pack-game" class="form-control input-lg">
                {% for g in game %}

                <option data-slug="{{ g.short }}" value="{{g.id}}" {% if g.id == ga.id %}selected{% endif %}>{{g.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <h2 class="control-label">What's your mod pack called?</h2>
            <input id="pack-name" class="form-control input-lg" type="text" placeholder="{{ user.username }}'s Super Cool Mod Pack" maxLength=100 />
        </div>
        <button id="submit" class="btn btn-success btn-lg btn-block" style="margin: 20px auto;">
            <span class="progress-label">Create Your Mod Pack</span>
            <div class="progress" id="progress">
                <div class="progress-bar-striped progress-bar active" style="width: 0%"></div>
            </div>
        </button>
        <div class="alert alert-danger hidden" id="error-alert">
            You've missed some things! Go back and fix them first.
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
