{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='edit-mod.css') }}" />
{% endblock %}
{% block scripts %}
<script>
window.screen_list = "{{ screenshot_list }}";
window.video_list = "{{ video_list }}";
</script>
<script src="/static/edit-mod.js"></script>
{% endblock %}
{% block body %}
<h1>Edit {{ mod.name }}</h1>
<form action="/mod/{{ mod.id }}/edit" method="POST" role="form" enctype="multipart/form-data">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#metadata">Metadata</a></li>
        <li><a data-toggle="tab" href="#media">Media</a></li>
    </ul>
    <div class="tab-content" style="margin-top: 20px;">
        <div class="tab-pane active" id="metadata">
            <div class="form-group">
                <label for="short-description">Short Description</label>
                <input type="text"
                    class="form-control"
                    id="short-description"
                    name="short-description"
                    placeholder="This super cool mod does super cool things and..."
                    maxlength=1000
                    value="{% if mod.short_description %}{{ mod.short_description }}{% endif %}">
            </div>
            <div class="form-group">
                <label for="description">Description <small class="text-muted">Markdown supported</small></label>
                <textarea name="description"
                    id="description"
                    class="form-control"
                    rows=18
                    placeholder="This is a super cool mod I wrote...">{% if mod.description %}{{ mod.description }}{% endif %}</textarea>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="license">License</label>
                        <input type="text"
                            class="form-control"
                            id="license"
                            name="license"
                            placeholder="GPL, MIT, etc"
                            value="{% if mod.license %}{{ mod.license }}{% endif %}">
                    </div>
                    <div class="form-group">
                        <label for="external-link">External Link <small class="text-muted">Optional</small></label>
                        <input type="text"
                            class="form-control"
                            id="external-link"
                            name="external-link"
                            placeholder="The forums, a website, etc"
                            value="{% if mod.external_link %}{{ mod.external_link }}{% endif %}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="source-link">Source Code <small class="text-muted">Optional</small></label>
                        <input type="text"
                            class="form-control"
                            id="source-code"
                            name="source-code"
                            placeholder="Where the code may be obtained"
                            value="{% if mod.source_link %}{{ mod.source_link }}{% endif %}">
                    </div>
                    <div class="form-group">
                        <label for="donation">Donation Link <small class="text-muted">Optional</small></label>
                        <input type="text"
                            class="form-control"
                            id="donation"
                            name="donation"
                            placeholder="PayPal, bitcoin address, etc"
                            value="{% if mod.donation_link %}{{ mod.donation_link }}{% endif %}">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="media">
            <h2>Screenshots</h2>
            <input type="hidden" name="screenshots" id="screenshots">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-info">
                        <div class="panel-heading">Uploaded Files <small class="text-muted">click to remove</small></div>
                        <div class="panel-body" id="uploaded-screenshots" data-empty="true">
                            Your uploads will appear here as you start uploading them. Get to it!
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="upload-well" data-event="upload_screenshot">
                        <a href="#" class="upload-link">Click to upload</a>
                        <input type="file">
                        <div class="upload-progress"></div>
                    </div>
                </div>
            </div>
            <h2>Videos</h2>
            <input type="hidden" name="videos" id="videos">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-info">
                        <div class="panel-heading">Uploaded Files <small class="text-muted">click to remove</small></div>
                        <div class="panel-body" id="uploaded-videos" data-empty="true">
                            Your uploads will appear here as you start uploading them. Get to it!
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="upload-well" data-event="upload_video">
                        <a href="#" class="upload-link">Click to upload</a>
                        <input type="file">
                        <div class="upload-progress"></div>
                    </div>
                </div>
            </div>
            <h2>Background</h2>
            <input type="hidden" name="backgroundMedia" id="backgroundMedia" value="{% if mod.background %}{{ mod.background }}{% endif %}">
            <div class="upload-well" data-event="upload_background" style="margin-bottom: 30px;">
                <a href="#" class="upload-link">Click to upload</a>
                <input type="file">
                <div class="upload-progress"></div>
            </div>
        </div>
    </div>
    <div class="pull-right">
        <a href="/mod/{{ mod.id }}" class="btn btn-default">Cancel</a>
        <input type="submit" value="Save Changes" class="btn btn-primary">
    </div>
</form>
{% endblock %}
