{% extends "layout.html" %}
{% block title %}
<title>Edit {{ mod_list.name }} on {{ site_name }}</title>
{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mod.css') }}" />
{% endblock %}
{% block scripts %}
<script>
window.pack_list = {{ mod_ids | tojson }};
</script>
<script src="/static/typeahead.bundle.min.js"></script>
<script src="/static/edit_pack.js"></script>
{% endblock %}
{% block body %}
<form action="{{ url_for("lists.edit_list", list_id=mod_list.id, list_name=mod_list.name) }}" method="POST">
    <div class="header upload-well scrollable" id="header-well" style="
        {% if mod_list.background %}
        background-image: url({{ mod_list.background }});
        {% else %}
        background-image: url(/static/background.png);
        {% endif %}
        background-position: 0 {% if mod_list.bgOffsetY %}{{ mod_list.bgOffsetY }}px{% else %}0{% endif %};
        background-color: #ddd;"
        data-event="upload_bg"
        data-scroll-y="bg-offset-y">
        <a href="#" class="upload-link">Click to upload header</a>
        <input type="file">
        <div class="upload-progress"></div>
        <div class="directions"><span class="glyphicon glyphicon-resize-vertical"></span>Click and drag to move <span class="glyphicon glyphicon-resize-vertical"></span></div>
    </div>
    <input type="hidden" name="background" id="background" value="{%if mod_list.background %}{{ mod_list.background }}{% endif %}">
    <input type="hidden" name="bg-offset-y" id="bg-offset-y" value="{% if mod_list.bgOffsetY %}{{ mod_list.bgOffsetY }}{% endif %}">

    {% if error %}
    <div class="well well-sm danger">
        <div class="container">
            <h3 style="margin: 0;">{{ error }}</h3>
        </div>
    </div>
    {% endif %}

    <div class="container lead">
        <div class="row">
            <div class="col-md-8">
                <h1 title="{{ mod_list.name }}">Edit {{ mod_list.name }}</h1>
            </div>
            <div class="col-md-2">
                <input type="submit" class="btn btn-primary btn-block" value="Save Changes" />
            </div>
            <div class="col-md-2">
                <a href="{{ url_for("lists.view_list", list_id=mod_list.id, list_name=mod_list.name) }}" class="btn btn-default btn-block">Cancel</a>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 10px;">
        <p><a href="/markdown" target="_blank">Markdown</a> is supported here.</p>
        <textarea class="form-control input-block-level" name="description" placeholder="Mod pack description..." rows=10>{% if mod_list.description %}{{ mod_list.description }}{% endif %}</textarea>
    </div>

    <div class="container">
        <h2>Add or Remove Mods</h2>
        <p class="text-muted">You can only add mods that are already hosted on {{ site_name }}.</p>
        <div class="row">
            <div class="col-md-10">
                <input id="mod-typeahead" class="form-control" type="text" placeholder="Mod name..." />
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary btn-block" id="add-mod-button">Add Mod</button>
            </div>
        </div>
        <div id="mods-list-box" style="min-height: 300px">
            {% for list_item in mod_list.mods %}
            {% set mod = list_item.mod %}
            <div class="pack-item" data-mod="{{ mod.id }}" style="background-image: 
                {% if mod.background %}
                url('{{ mod.background }}');
                {% else %}
                url('/static/background.png');
                {% endif %}
                background-position: 0 {{ mod.bgOffsetY }}px;">
                <div class="well well-sm">
                    <div class="pull-right">
                        <button class="close down" data-mod="{{ mod.id }}" style="font-size: 10pt; line-height: 24px; padding-left: 4px"><span class="glyphicon glyphicon-chevron-down"></span></button>
                        <button class="close remove" data-mod="{{ mod.id }}">&times;</button>
                        <button class="close up" data-mod="{{ mod.id }}" style="font-size: 10pt; line-height: 22px; padding-right: 6px"><span class="glyphicon glyphicon-chevron-up"></span></button>
                    </div>
                    <h3>
                        <a href="{{ url_for("mods.mod", mod_name=mod.name, id=mod.id) }}">{{ mod.name }}</a>
                        {{ mod.default_version().friendly_version }}
                        <span class="badge">KSP {{ mod.default_version().ksp_version }}</span>
                    </h3>
                    <p>{{ mod.short_description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <input type="hidden" name="mods" id="mods-form-input" value="{{ mod_ids | tojson }}" />
</form>
{% endblock %}
