{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='create.css') }}" />
{% endblock %}
{% block body %}
<h1>Edit {{ mod.name }}</h1>
<form action="/mod/{{ mod.id }}/edit" method="POST" role="form" enctype="multipart/form-data">
    <div class="form-group">
        <label for="short-description">Short Description</label>
        <input type="text"
            class="form-control"
            id="short-description"
            name="short-description"
            placeholder="This super cool mod does super cool things and..."
            maxlength=1000
            value="{% if mod.short_description %}{{ mod.short_description }}{% endif %}">
    </div>
    <div class="form-group">
        <label for="description">Description <small class="text-muted">Markdown supported</small></label>
        <textarea name="description"
            id="description"
            class="form-control"
            rows=18
            placeholder="This is a super cool mod I wrote...">{% if mod.description %}{{ mod.description }}{% endif %}</textarea>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="license">License</label>
                <input type="text"
                    class="form-control"
                    id="license"
                    name="license"
                    placeholder="GPL, MIT, etc"
                    value="{% if mod.license %}{{ mod.license }}{% endif %}">
            </div>
            <div class="form-group">
                <label for="external-link">External Link <small class="text-muted">Optional</small></label>
                <input type="text"
                    class="form-control"
                    id="external-link"
                    name="external-link"
                    placeholder="The forums, a website, etc"
                    value="{% if mod.external_link %}{{ mod.external_link }}{% endif %}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="source-link">Source Code <small class="text-muted">Optional</small></label>
                <input type="text"
                    class="form-control"
                    id="source-code"
                    name="source-code"
                    placeholder="Where the code may be obtained"
                    value="{% if mod.source_link %}{{ mod.source_link }}{% endif %}">
            </div>
            <div class="form-group">
                <label for="donation">Donation Link <small class="text-muted">Optional</small></label>
                <input type="text"
                    class="form-control"
                    id="donation"
                    name="donation"
                    placeholder="PayPal, bitcoin address, etc"
                    value="{% if mod.donation_link %}{{ mod.donation_link }}{% endif %}">
            </div>
        </div>
    </div>
    <div class="pull-right">
        <a href="/mod/{{ mod.id }}" class="btn btn-default">Cancel</a>
        <input type="submit" value="Save Changes" class="btn btn-primary">
    </div>
</form>
{% endblock %}
