<div class="col-md-6">
    <div class="well well-sm mod-well">
        <h2 class="group inner list-group-item-heading">
            {{ mod.name }}
        </h2>
        <div class="row">
            <div class="col-md-7 thumbnail">
                <a href="{{ url_for("mods.mod", id=mod.id, mod_name=mod.name) }}">
                    <div class="header-img" style="
                    {% if not mod.background %}
                    background-image: url(/static/background.png);
                    {% else %}
                    background-image: url({{ mod.background }});
                    {% endif %}
                    "></div>
                </a>
            </div>
            <div class="col-md-5 right-col">
                <div class="stats">
                    <p>
                        <i class="fa fa-calendar"></i>
                        Created on <strong>{{ mod.created.strftime("%B %e, %Y") }}</strong>
                    </p>
                    <p>
                        <i class="fa fa-cloud-download"></i>
                        <strong>{{ "{:,}".format(mod.download_count) }}</strong> downloads
                    </p>
                    <p>
                        <i class="fa fa-users"></i>
                        <strong>{{ "{:,}".format(mod.follower_count) }}</strong> followers
                    </p>
                    <p>
                        <i class="fa fa-rocket"></i>
                        <strong>{{ "{:,}".format(len(mod.versions)) }}</strong> versions
                    </p>
                    <p>
                        <i class="fa fa-pencil"></i>
                        By <strong><a href="{{ url_for("profile.view_profile", username=mod.user.username) }}">{{ mod.user.username }}</a></strong>
                    </p>
                </div>
            </div>
            <div class="row interactive">
                <div class="col-md-6" style="padding-left: 4px;">
                    <a  class="btn btn-block btn-success"
                        href="{{ url_for("mods.download", mod_id=mod.id, mod_name=mod.name, version=mod.default_version().friendly_version) }}">
                        Download</a>
                </div>
                <div class="col-md-6" style="padding-right: 4px;">
                    {% if following_mod(mod) %}
                    <a href="#" class="unfollow-button btn btn-block btn-primary" data-mod="{{ mod.id }}" data-id="{{ mod.id }}">Unfollow</a>
                    {% else %}
                    <a href="#" class="follow-button btn btn-block btn-primary" data-mod="{{ mod.id }}" data-id="{{ mod.id }}">Follow</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
