<div class="item col-md-2 modbox">
    <div class="thumbnail ">
<!--{#  { game.background_thumb() } #} -->
        <a href="/{{ game.short }}">
        <div class="header-img" style="
            {% if not game.background %}
            background-image: url(/static/background-s.jpg);
            {% else %}
            background-image: url('/static/games/covers/{{ game.id }}.png');
            {% endif %}
            "></div>
        </a>
        <div class="caption">
            <h2 class="group inner list-group-item-heading">
                {{ game.name }}
            </h2>
            <div id="game-{{ game.id }}" class="caption-description">
                {{ game.short_description }}
            </div>
        </div>
    </div>
</div>
