{% extends "layout.html" %}
{% block scripts %}
{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />
{% endblock %}
{% block body %}
<div class="jumbotron" style="background-image: url('/static/bg4.jpg')">
    <div class="inner">
        <h1>Featured Mod</h1>
        <h2>The Space Mod</h2>
        <p>The latest mod from Some Person, this gives you the ability to build rockets and launch them to various destinations in space! Install it now!</p>
        <p>
            <a href="#" class="btn btn-success btn-lg">Download</a>
            <a href="#" class="btn btn-info btn-lg">Install</a>
            <a href="#" class="btn btn-default btn-lg">Details</a>
        </p>
    </div>
</div>
<h2>Other Cool Mods</h2>
<div class="row">
    <div class="col-md-4">
        <div class="well">
            <h4>Featured Mod</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>
                <a href="#" class="btn btn-success">Download</a>
                <a href="#" class="btn btn-info">Install</a>
                <a href="#" class="btn btn-default">Details</a>
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h4>Featured Mod</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>
                <a href="#" class="btn btn-success">Download</a>
                <a href="#" class="btn btn-info">Install</a>
                <a href="#" class="btn btn-default">Details</a>
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h4>Featured Mod</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>
                <a href="#" class="btn btn-success">Download</a>
                <a href="#" class="btn btn-info">Install</a>
                <a href="#" class="btn btn-default">Details</a>
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h4>Featured Mod</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>
                <a href="#" class="btn btn-success">Download</a>
                <a href="#" class="btn btn-info">Install</a>
                <a href="#" class="btn btn-default">Details</a>
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h4>Featured Mod</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>
                <a href="#" class="btn btn-success">Download</a>
                <a href="#" class="btn btn-info">Install</a>
                <a href="#" class="btn btn-default">Details</a>
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h4>Featured Mod</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>
                <a href="#" class="btn btn-success">Download</a>
                <a href="#" class="btn btn-info">Install</a>
                <a href="#" class="btn btn-default">Details</a>
            </p>
        </div>
    </div>
    <h1>Welcome to Kerbal Stuff</h1>
    <p>You've found Kerbal Stuff, a simple website for <a href="https://www.kerbalspaceprogram.com/">Kerbal Space Program</a> mods.
    To upload some mods, <a href="/new-account">create an account</a>. To find some new mods, start looking around. If you'd like,
    we have a <a href="#">mod manager</a> that you can install to make your life easier. It's not required, though. You'll get no
    wait times and won't get shafted over features if you choose not to install anything - and there's no "premium" plan. Also,
    Kerbal Stuff is <a href="#">open source</a>.</p>
    <h3>This is a blog post! <small>2014-06-01</small></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed leo
    eget leo consequat pretium. Cras a mauris ultricies, accumsan mauris in,
    ultricies enim. Maecenas at sem vulputate, pulvinar nisl et, dapibus ante.
    Fusce aliquam quis erat a dictum. Pellentesque habitant morbi tristique
    senectus et netus et malesuada fames ac turpis egestas. Vivamus nec elit
    mauris. In nec orci velit. Vestibulum interdum dignissim dolor, in
    consectetur lacus varius in. Pellentesque rutrum nisi nec tincidunt
    consectetur. Aliquam tristique arcu ante, nec cursus arcu semper sed.
    Aenean tristique molestie ornare. In et dolor eu ante sollicitudin
    accumsan.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed leo
    eget leo consequat pretium. Cras a mauris ultricies, accumsan mauris in,
    ultricies enim. Maecenas at sem vulputate, pulvinar nisl et, dapibus ante.
    Fusce aliquam quis erat a dictum. Pellentesque habitant morbi tristique
    senectus et netus et malesuada fames ac turpis egestas. Vivamus nec elit
    mauris. In nec orci velit. Vestibulum interdum dignissim dolor, in
    consectetur lacus varius in. Pellentesque rutrum nisi nec tincidunt
    consectetur. Aliquam tristique arcu ante, nec cursus arcu semper sed.
    Aenean tristique molestie ornare. In et dolor eu ante sollicitudin
    accumsan.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed leo
    eget leo consequat pretium. Cras a mauris ultricies, accumsan mauris in,
    ultricies enim. Maecenas at sem vulputate, pulvinar nisl et, dapibus ante.
    Fusce aliquam quis erat a dictum. Pellentesque habitant morbi tristique
    senectus et netus et malesuada fames ac turpis egestas. Vivamus nec elit
    mauris. In nec orci velit. Vestibulum interdum dignissim dolor, in
    consectetur lacus varius in. Pellentesque rutrum nisi nec tincidunt
    consectetur. Aliquam tristique arcu ante, nec cursus arcu semper sed.
    Aenean tristique molestie ornare. In et dolor eu ante sollicitudin
    accumsan.</p>
    <p><a href="#">Read more, leave a comment, etc <span class="glyphicon glyphicon-chevron-right"></span></a></p>
</div>
{% endblock %}
