{% extends "base/content.html" %}
{% set prevmode="game" %}
{% block scripts %}
    <script src="/static/s3Slider.js"></script>
    <script>
        $(document).ready(function () {
            //slideshow
            $(window).on('resize', function () {
                $('#s3slider').aspectratio(0);
                $(".slideritems").height($("#s3slider").height());
            });

            $('#s3slider').s3Slider({
                timeOut: 4000
            });
            $('#s3slider').aspectratio(0);
            $(".slideritems").height($("#s3slider").height());

        });

    </script>
{% endblock %}
{% block  content %}
    <div class="module">
        <div id="s3slider" class="cw66">
            <ul id="s3sliderContent">
                {% for game in games[:8] %}
                    <li class="s3sliderImage" data-gameid="{{ game.id }}">
                        <img src="{% if not game.background %}/static/background.jpg{% else %}{{ game.background }}{% endif %}"/>
            <span>
                <h1>{{ game.name }}</h1>
                <p>{{ game.short_description }}</p>
            </span>
                    </li>
                {% endfor %}
                <div class="clear s3sliderImage"></div>
            </ul>
        </div>
        <ul class="slideritems  cw33 leftspace">
            {% for game in games[:8] %}
                <li class="btn primary">{{ game.name }}<span class="icon-arrows-right right"></span></li>
            {% endfor %}
        </ul>
    </div>
    <div class="spacer"></div>
    <div class="module">
        <h1>Games</h1>
        <div class="row">
            {% set prevmode="game" %}
            {% for item in games %}
                {% include"parts/previewbox.html" %}
            {% endfor %}
        </div>
    </div>

    {% if not user %}
        <div class="spacer"></div>
        <div class="module advertise">
        <div id="about">

            <h2>{{ site_name }} is a community modding site</h2>
            <p>There have been a few poor modding sites in the past. {{ site_name }} aims to be different. We
                fix the
                problems with the old and make the new work great. Most of all,
                {{ site_name }} brings the community back into
                the loop and puts the power in the modder's hands.</p>
        </div>
        <div id="players">

            <h1>Great for Players</h1>

            <div class="flex">
                <div class="c4">
                    <div class="icon icon-basic-mail-open-text"></div>
                    <h3>Get email updates</h3>
                    <p>Easily keep track of your favorite mods. Don't bother
                        checking the forums every 5 minutes, just sit back and we'll
                        email you when the time comes.</p>
                </div>
                <div class="c4">
                    <div class="icon icon-basic-magnifier"></div>
                    <h3>Easy to use search</h3>
                    <p>Searching for mods on {{ site_name }} is painless and easy. You'll find the mod you're
                        looking for on the first try, or your money back.</p>
                </div>
                <div class="c4">
                    <div class="icon icon-basic-todo-txt"></div>
                    <h3>Full version history</h3>
                    <p>Got a nostalgic itch to scratch? {{ site_name }} keeps around old versions of mods and
                        includes the last version of your Game they worked with.</p>
                </div>
                <div class="c4">
                    <div class="icon icon-basic-star"></div>
                    <h3>Find new and cool mods</h3>
                    <p>We don't need to tell you about the popular mods you already know about. Instead, we feature
                        new and interesting mods to give you something new.</p>
                </div>
            </div>
        </div>
        <div id="modders">
            <h1>Great for Modders</h1>

            <div class="flex">
                <div class="c4">
                    <div class="icon icon-software-vertical-align-bottom"></div>
                    <h3>Get detailed stats</h3>
                    <p>We'll give you a history of downloads and we'll give it to you with nice pretty graphs. You
                        can also export the raw data if you want to visualize it yourself.</p>
                </div>
                <div class="c4">
                    <div class="icon icon-basic-bolt"></div>
                    <h3>Update in moments</h3>
                    <p>No nonsense updates. Give us a version number, a zip file, and optionally a changelog, and
                        your followers get an email with the latest version.</p>
                </div>
                <div class="c4">
                    <div class="icon icon-basic-eye"></div>
                    <h3>Exposure where it's due</h3>
                    <p>Got a popular mod? It'll be the first in the search results. Got a cool brand-new mod? We'll
                        make sure you get the exposure you need.</p>
                </div>
                <div class="c4">
                    <div class="icon icon-basic-usb"></div>
                    <h3>Open source</h3>
                    <p>Wouldn't it be great if you could help make your modding site even better? You
                        can! {{ site_name }} is open source, come <a href="{{ source_code }}">check out the code</a>.
                    </p>
                </div>
            </div>
        </div>
        <div id="register">
            <h1>Register</h1>
            <div class="flex">
                <div class="reg">
                    <form class="form-horizontal" role="form" action="/register" method="POST">
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Email</label>

                            <input type="email" class="form-control" id="email" placeholder="Email" name="email"
                                   value="">

                        </div>
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">Username</label>

                            <input type="text" class="form-control" id="username" placeholder="Username"
                                   name="username" value="">

                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">Password</label>

                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Password">

                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <input type="password" class="form-control" id="password" name="repeatPassword"
                                       placeholder="Repeat password">
                            </div>
                        </div>
                        <div class="form-group">

                            <input type="submit" value="Register" class="btn btn-register btn-block btn-lg">

                        </div>
                    </form>
                </div>
                <div class="regtease">
                    <p>Ready to make an account? You'll be able to:</p>
                    <ul>
                        <li>Upload new mods</li>
                        <li>Keep track of your favorite mods</li>
                        <li>Tell your friends "I have a {{ site_name }} account!"</li>
                        <li>Replace the "Log In" link with a "Log Out" link</li>
                        <li>And <sup>not</sup> much more!</li>
                    </ul>
                </div>
                {% for provider in oauth_providers %}
                    {% set provider_icon = oauth_providers[provider].icon %}
                    {% set provider_full_name = oauth_providers[provider].full_name %}
                    <p>
                    <form action="/login-oauth" method="POST">
                        <input type="hidden" name="provider" value="{{ provider }}">
                        <button type="submit" class="btn btn-register btn-lg">
                            <i class="fa fa-{{ provider_icon }}"></i> Register using {{ provider_full_name }}
                        </button>
                    </form>
                    </p>
                {% endfor %}
            </div>


        </div>
    {% endif %}


{% endblock %}