<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/vnd.microsoft.icon" href="/static/icon.ico">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/editor/0.1.0/editor.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="search" type="application/opensearchdescription+xml" title="KerbalStuff" href="/static/opensearch.xml" />
        <meta property="og:image" content="/static/logo.png" />
        {% block title %}
        <title>Kerbal Stuff</title>
        {% endblock %}
        <link href="/static/bootstrap.min.css" rel="stylesheet">
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block styles %}{% endblock %}
    </head>
    <body class="{% if user %}logged-in{% endif %}">
        {% block nav %}
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" {% if user and user.admin %}style="background: #FF5555;"{% endif %}>
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="/static/logo.png" /> Kerbal Stuff</a>
                    {% if admin %}
                    <p class="navbar-text" style="color: white">Administrator</p>
                    {% endif %}
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="/random">Random Mod</a></li>
                    </ul>
                    {% if not user %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for("accounts.register") }}">Register</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Log In <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <form role="form" action="/login" method="POST">
                                    <input type="text" id="username" placeholder="Username" name="username">
                                    <input type="password" id="password" placeholder="Password" name="password">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="remember-me" id="remember-me">
                                            Remember Me
                                        </label>
                                    </div>
                                    <input type="hidden" name="return_to" value="{{ request.path }}">
                                    <input type="submit" value="Log In" class="btn btn-primary">
                                </form>
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ url_for("accounts.forgot_password") }}">
                                        <span class="glyphicon glyphicon-question-sign"></span> Forgot Password
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, {{ user.username }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/create/mod">
                                        <span class="glyphicon glyphicon-open"></span> Create a New Mod
                                    </a>
                                </li>
                                <li>
                                    <a href="/create/pack">
                                        <span class="glyphicon glyphicon-list"></span> Create a New Pack
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for("profile.view_profile", username=user.username) }}">
                                        <span class="glyphicon glyphicon-user"></span> View Your Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for("profile.profile", username=user.username) }}">
                                        <span class="glyphicon glyphicon-pencil"></span> Edit Your Profile
                                    </a>
                                </li>
                                {% if admin %}
                                <li>
                                    <a href="{{ url_for("admin.backend") }}">
                                        <span class="glyphicon glyphicon-fire"></span> Admin Stuff
                                    </a>
                                </li>
                                {% endif %}
                                <li>
                                    <a href="{{ url_for("accounts.logout") }}">
                                        <span class="glyphicon glyphicon-remove"></span> Log Out
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
                    {% block search %}
                    <form class="navbar-form navbar-search" role="search" action="/search" method="GET">
                        <div class="form-group">
                            <input type="text" class="form-control search-box" name="query" placeholder="Search mods...">
                        </div>
                    </form>
                    {% endblock %}
                </div>
            </div>
        </nav>
        {% endblock %}
        <div class="alert alert-info alert-dismissable alert-fixed hidden" id="alert-follow">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Done!</strong> You'll get emailed updates for this mod.
        </div>
        {% block body %}{% endblock %}
        <footer>
            <div class="container centered">
                <hr />
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="https://github.com/KerbalStuff/KerbalStuff">Source Code</a></li>
                            <li><a href="https://github.com/KerbalStuff/KerbalStuff/blob/master/api.md">API</a></li>
                            <li><a href="/privacy">Terms & Privacy</a></li>
                            <li><a href="mailto:support@kerbalstuff.com">Support</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/editor/0.1.0/editor.js"></script>
        <script src="//cdn.jsdelivr.net/editor/0.1.0/marked.js"></script>
        <script src="/static/bootstrap.min.js"></script>
        <script src="/static/underscore.min.js"></script>
        <script src="/static/chart.js"></script>
        <script src="/static/global.js"></script>
        {% if not dnt %}
        {% if analytics_id and analytics_domain %}
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ analytics_id }}', '{{ analytics_domain }}');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
        </script>
        {% endif %}
        {% endif %}
        {% block scripts %}{% endblock %}
    </body>
</html>
