<div class="item col-md-2 modbox" style="margin-bottom:5mm;">
    <div class="thumbnail">
        <div class="ksp-update" {% if user.dark_theme %}style=" margin-right: 2.5mm; "{% endif %}>For {{ mod.default_version().ksp_version }}</div>
        {% if following_mod(mod) %}
        <div class="following-mod">Following</div>
        {% endif %}
        <a href="{{ url_for("mods.mod", id=mod.id, mod_name=mod.name) }}">
            <div class="header-img" style="
            {% if not mod.background %}
            background-image: url(/static/background-s.jpg);
            {% else %}
            background-image: url({{ mod.background_thumb() }});
            {% endif %}
            "></div>
        </a>
        <div class="caption">
            <h2 class="group inner list-group-item-heading">
                {{ mod.name }}
            </h2>
            <div id="mod-{{ mod.id }}" class="caption-description">
            {{ mod.short_description }}
            </div>
        </div>
    </div>
</div>
