{% extends "layout.html" %}
{% block scripts %}
<script>
window.screen_list = "{{ screenshot_list }}";
window.video_list = "{{ video_list }}";
</script>
<script src="/static/mod.js"></script>
{% endblock %}
{% block title %}
<title>{{ mod.name }} on Kerbal Stuff</title>
{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mod.css') }}" />
<style>
.download-link { left: calc(60% - 300px); }
.sexy-nav li.active, .sexy-nav li:hover {
    background-image: url('https://mediacru.sh{{ mod.background }}'); 
}
</style>
{% endblock %}
{% block body %}
<div class="jumbotron modtron" style="background-image: url('https://mediacru.sh{{ mod.background }}')">
    <div class="inner">
        <h1>{{ mod.name }}</h1>
        <p>{{ mod.short_description }}</p>
    </div>
    <div class="download-link" style="background-image: url('https://mediacru.sh{{ mod.background }}')">
        {% if not mod.published %}
        <a href="/mod/{{ mod.id }}/{{ safe_name }}/publish" class="red">Publish Mod</a>
        {% else %}
        <a href="/mod/{{ mod.id }}/{{ safe_name }}/download/{{ mod.versions[0].friendly_version }}">Download Latest Version</a>
        {% endif %}
    </div>
    <ul class="controls">
        <li>
            <span class="wide">
                <span class="glyphicon glyphicon-transfer"></span> {{ mod.license }}
            </span>
        </li>
        <li>
            <span class="left">
                <span class="glyphicon glyphicon-check"></span> KSP Version
            </span>
            <span class="right">
                0.23.5
            </span>
        </li>
        <li>
            <span class="left">
                <span class="glyphicon glyphicon-user"></span> {{ mod.user.username }}
            </span>
            <span class="right">
                <a href="/profile/{{ mod.user.username }}">Profile</a>
            </span>
        </li>
        {% if mod.source_link %}
        <li>
            <span class="left">
                <span class="glyphicon glyphicon-tasks"></span> Source Code
            </span>
            <span class="right">
                <a target="_blank" href="{{ mod.source_link }}">Browse</a>
            </span>
        </li>
        {% endif %}
        {% if mod.external_link %}
        <li>
            <span class="left">
                <span class="glyphicon glyphicon-globe"></span> Mod Website
            </span>
            <span class="right">
                <a target="_blank" href="{{ mod.external_link }}">Visit</a>
            </span>
        </li>
        {% endif %}
        {% if mod.donate_link %}
        <li>
            <span class="left">
                <span class="glyphicon glyphicon-gift"></span> Support this mod
            </span>
            <span class="right">
                <a target="_blank" href="{{ mod.donate_link }}">Donate</a>
            </span>
        </li>
        {% endif %}
        <li>
            <span class="left">
                <span class="glyphicon glyphicon-cloud-download"></span> {{ mod.download_count }} Downloads
            </span>
            <span class="right green">
                <a href="/mod/{{ mod.id }}/{{ safe_name }}/download/{{ mod.versions[0].friendly_version }}" class="green">Download</a>
            </span>
        </li>
        <li>
            <span class="left">
                <span class="glyphicon glyphicon-heart-empty"></span> {{ mod.follower_count }} Followers
            </span>
            <span class="right red">
                {% if following_mod(mod) %}
                <a href="#" class="unfollow-button" data-mod="{{ mod.id }}" data-id=="{{ mod.id }}">Unfollow</a>
                {% else %}
                <a href="#" class="follow-button" data-mod="{{ mod.id }}" data-id=="{{ mod.id }}">Follow</a>
                {% endif %}
            </span>
        </li>
    </ul>
</div>
<div class="sexy-nav-wrapper">
    {% if editable %}
    <ul class="nav nav-pills sexy-nav" style="width: 750px; margin: 0 auto; padding-top: 2px;">
        <li class="active"><a data-toggle="tab" href="#description">Description</a></li>
        <li><a data-toggle="tab" href="#changelog">Changelog</a></li>
        <li><a data-toggle="tab" href="#versions">Versions</a></li>
        <li><a data-toggle="tab" href="#update">Update Mod</a></li>
        <li><a data-toggle="tab" href="#edit">Edit Text</a></li>
        <li><a data-toggle="tab" href="#media">Edit Media</a></li>
    </ul>
    {% else %}
    <ul class="nav nav-pills sexy-nav" style="width: 368px; margin: 0 auto; padding-top: 2px;">
        <li class="active"><a data-toggle="tab" href="#description">Description</a></li>
        <li><a data-toggle="tab" href="#changelog">Changelog</a></li>
        <li><a data-toggle="tab" href="#versions">Versions</a></li>
    </ul>
    {% endif %}
</div>
<div class="tab-content">
    <div class="tab-pane active fade in" id="description">
        <div class="markdown">
            {{ mod.description | firstparagraph | markdown }}
        </div>
        <div id="media-carousel" class="carousel slide" data-ride="carousel" data-pause="hover">
            <ol class="carousel-indicators">
                {% for v in videos %}
                {% if loop.index == 1 %}
                <li data-target="#media-carousel" data-slide-to="{{ loop.index - 1 }}" class="active"></li>
                {% else %}
                <li data-target="#media-carousel" data-slide-to="{{ loop.index - 1 }}"></li>
                {% endif %}
                {% endfor %}
                {% for v in screens %}
                {% if loop.index == 1 and len(videos) == 0 %}
                <li data-target="#media-carousel" data-slide-to="{{ loop.index - 1 + len(videos) }}" class="active"></li>
                {% else %}
                <li data-target="#media-carousel" data-slide-to="{{ loop.index - 1 + len(videos) }}"></li>
                {% endif %}
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for v in videos %}
                {% if loop.index == 1 %}
                <div class="item active">
                    <iframe src="https://mediacru.sh/{{ v.data }}/frame" frameborder="0" allowFullscreen width="700" height="400"></iframe>
                </div>
                {% else %}
                <div class="item">
                    <iframe src="https://mediacru.sh/{{ v.data }}/frame" frameborder="0" allowFullscreen width="700" height="400"></iframe>
                </div>
                {% endif %}
                {% endfor %}
                {% for s in screens %}
                {% if loop.index == 1 and len(videos) == 0 %}
                <div class="item active"><a href="https://mediacru.sh{{ s.data }}"><img src="https://mediacru.sh{{ s.data }}"></a></div>
                {% else %}
                <div class="item"><a href="https://mediacru.sh{{ s.data }}"><img src="https://mediacru.sh{{ s.data }}"></a></div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="markdown">
            {{ mod.description | remainingparagraphs | markdown }}
        </div>
    </div>
    <div class="tab-pane fade centered" id="changelog">
        {% if len(mod.versions) == 1 %}
        <h3 class="borderh">{{ latest.friendly_version }}</h3>
        <p>The first version of {{ mod.name }}.</p>
        {% else %}
        {% for v in mod.versions %}
        <h3 class="borderh">{{ v.friendly_version }} <small>KSP {{ v.ksp_version }}</small></h3>
        {% if v.changelog %}
        <div style="width: 500px; margin: 0 auto; text-align: left;">
            {{ v.changelog | markdown }}
        </div>
        {% else %}
        <p><em>No changelog provided</em></p>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
    <div class="tab-pane fade" id="versions">
        <table class="table">
            <thead>
                <tr>
                    <th>Mod Version</th>
                    <th>KSP Version</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for v in mod.versions %}
                <tr>
                    <td>{{ v.friendly_version }}</td>
                    <td>{{ v.ksp_version }}</td>
                    <td><a href="/mod/{{ mod.id }}/{{ safe_name }}/download/{{ v.friendly_version }}">Download</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </diV>
    {% if editable %}
    <div class="tab-pane fade" id="update">
        <h1>
            {{ mod.name }}
            <small>Publish new version</small>
        </h1>
        <form id="update-form" class="row" action="/mod/{{ mod.id }}/post/update" method="POST" enctype="multipart/form-data">
            <div class="col-md-8">
                <p>We need a new zip file, please.</p>
                <input type="file" name="zipball" id="zipball" class="hidden">
                <div class="upload-well" data-file="zipball" data-event="upload_zipball" style="height: 362px; line-height: 362px;">
                    <a href="#" class="upload-link">Click to upload</a>
                    <div class="upload-progress"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="version" class="control-label">Mod Version <small class="text-muted">Currently {{ mod.versions[0].friendly_version }}</small></label>
                    <input type="text" class="form-control" id="version" name="version" placeholder="A user-friendly version, like &quot;1.0.0&quot;">
                </div>
                <div class="form-group">
                    <label for="ksp-version" class="control-label">KSP Version</label>
                    <input type="text" class="form-control" id="ksp-version" name="ksp-version" placeholder="The last supported version of Kerbal Space Program">
                </div>
                <div class="form-group">
                    <label for="changelog" class="control-label">Changelog <small class="text-muted">Markdown supported</small></label>
                    <textarea class="form-control" rows="5" id="changelog" name="changelog" placeholder="A short summary of the changes"></textarea>
                </div>
                <p>{{ mod.follower_count }} followers will be notified about this update.</p>
                <a href="#" class="btn btn-primary btn-lg btn-block" id="submit-button">Publish</a>
            </div>
        </form>
    </div>
    <div class="tab-pane fade" id="edit">
        <form action="/mod/{{ mod.id }}/edit_meta" method="POST" role="form" enctype="multipart/form-data">
            <div class="form-group">
                <label for="short-description">Short Description</label>
                <input type="text"
                    class="form-control"
                    id="short-description"
                    name="short-description"
                    placeholder="This super cool mod does super cool things and..."
                    maxlength=1000
                    value="{% if mod.short_description %}{{ mod.short_description }}{% endif %}">
            </div>
            <div class="form-group">
                <label for="description">Description <small class="text-muted">Markdown supported</small></label>
                <textarea name="description"
                    id="description"
                    class="form-control"
                    rows=18
                    placeholder="This is a super cool mod I wrote...">{% if mod.description %}{{ mod.description }}{% endif %}</textarea>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="license">License</label>
                        <input type="text"
                            class="form-control"
                            id="license"
                            name="license"
                            placeholder="GPL, MIT, etc"
                            value="{% if mod.license %}{{ mod.license }}{% endif %}">
                    </div>
                    <div class="form-group">
                        <label for="external-link">External Link <small class="text-muted">Optional</small></label>
                        <input type="text"
                            class="form-control"
                            id="external-link"
                            name="external-link"
                            placeholder="The forums, a website, etc"
                            value="{% if mod.external_link %}{{ mod.external_link }}{% endif %}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="source-link">Source Code <small class="text-muted">Optional</small></label>
                        <input type="text"
                            class="form-control"
                            id="source-code"
                            name="source-code"
                            placeholder="Where the code may be obtained"
                            value="{% if mod.source_link %}{{ mod.source_link }}{% endif %}">
                    </div>
                    <div class="form-group">
                        <label for="donation">Donation Link <small class="text-muted">Optional</small></label>
                        <input type="text"
                            class="form-control"
                            id="donation"
                            name="donation"
                            placeholder="PayPal, bitcoin address, etc"
                            value="{% if mod.donation_link %}{{ mod.donation_link }}{% endif %}">
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <input type="submit" value="Save Changes" class="btn btn-primary">
            </div>
        </form>
    </div>
    <div class="tab-pane fade" id="media">
        <form action="/mod/{{ mod.id }}/edit_media" method="POST" role="form" enctype="multipart/form-data">
            <h2>Screenshots</h2>
            <input type="hidden" name="screenshots" id="screenshots">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-info">
                        <div class="panel-heading">Uploaded Files <small class="text-muted">click to remove</small></div>
                        <div class="panel-body" id="uploaded-screenshots" data-empty="true">
                            Your uploads will appear here as you start uploading them. Get to it!
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="upload-well" data-event="upload_screenshot">
                        <a href="#" class="upload-link">Click to upload</a>
                        <input type="file">
                        <div class="upload-progress"></div>
                    </div>
                </div>
            </div>
            <h2>Videos</h2>
            <input type="hidden" name="videos" id="videos">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-info">
                        <div class="panel-heading">Uploaded Files <small class="text-muted">click to remove</small></div>
                        <div class="panel-body" id="uploaded-videos" data-empty="true">
                            Your uploads will appear here as you start uploading them. Get to it!
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="upload-well" data-event="upload_video">
                        <a href="#" class="upload-link">Click to upload</a>
                        <input type="file">
                        <div class="upload-progress"></div>
                    </div>
                </div>
            </div>
            <h2>Background</h2>
            <input type="hidden" name="backgroundMedia" id="backgroundMedia" value="{% if mod.background %}{{ mod.background }}{% endif %}">
            <div class="upload-well" data-event="upload_background" style="margin-bottom: 30px;">
                <a href="#" class="upload-link">Click to upload</a>
                <input type="file">
                <div class="upload-progress"></div>
            </div>
            <div class="pull-right">
                <input type="submit" value="Save Changes" class="btn btn-primary">
            </div>
        </form>
    </div>
    {% endif %}
</div>
{% if editable %}
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirm-delete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete Mod</h4>
            </div>
            <div class="modal-body">
                <p>
                Are you really, really, really sure you want to delete this mod? You can't undo this.</p>
            </div>
            <div class="modal-footer">
                <form action="/mod/{{ mod.id }}/delete" method="POST">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <input type="submit" class="btn btn-danger" value="Delete Mod">
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if admin %}
{% if not featured %}
<a href="#" class="btn btn-default feature-button" data-mod="{{ mod.id }}">Feature this mod</a>
{% else %}
<a href="#" class="btn btn-default unfeature-button" data-mod="{{ mod.id }}">Remove feature</a>
{% endif %}
{% endif %}
{% endblock %}
