{% extends "layout.html" %}
{% block title %}
<title>{{ mod.name }} on Kerbal Stuff</title>
{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mod.css') }}" />
{% endblock %}
{% block body %}
<script>
{% if editable %}
window.editable = true;
{% else %}
window.editable = false;
{% endif %}
window.download_stats = JSON.parse('{{ download_stats | tojson }}');
window.follower_stats = JSON.parse('{{ follower_stats | tojson }}');
window.referrals = JSON.parse('{{ referrals | tojson }}');
window.versions = JSON.parse('{{ json_versions | tojson }}');
window.thirty_days_ago = new Date({{ thirty_days_ago | tojson }});
</script>

<div class="header" style="background-image: url(https://cdn.mediacru.sh/{{ mod.background }});"></div>

<div class="container lead">
    <div class="row">
        <div class="col-md-8">
            <h1 title="{{ mod.name }}">{{ mod.name }}</h1>
        </div>
        <div class="col-md-2">
            <a  class="btn btn-block btn-lg btn-primary"
                href="/mod/{{ mod.id }}/{{ safe_name }}/download/{{ latest.friendly_version }}">
                Download</a>
        </div>
        <div class="col-md-2">
            <a  class="btn btn-block btn-lg btn-danger"
                href="/mod/{{ mod.id }}/{{ safe_name }}/download/{{ latest.friendly_version }}">
                Follow</a>
        </div>
    </div>
</div>

<div class="info-list">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="timeline-centered">
                    
                    <div class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon">
                                <span class="glyphicon glyphicon-copyright-mark"></span>
                            </div>
                            <div class="timeline-label">
                                <h2>
                                    <span class="text-muted">
                                        License:
                                    </span>
                                    {{ mod.license }}
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon">
                                <span class="glyphicon glyphicon-check"></span>
                            </div>
                            <div class="timeline-label">
                                <h2>
                                    <span class="text-muted">
                                        KSP Version:
                                    </span>
                                    {{ latest.ksp_version }}
                                </h2>
                            </div>
                        </div>
                    </div>
                    
                    <div class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon">
                                <span class="glyphicon glyphicon-download-alt"></span>
                            </div>
                            <div class="timeline-label">
                                <h2>
                                    <span class="text-muted">
                                        Downloads:
                                    </span>
                                    {{ mod.download_count }}
                                </h2>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-6">
                <div class="timeline-centered">
                    
                    <div class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon">
                                <span class="glyphicon glyphicon-user"></span>
                            </div>
                            <div class="timeline-label">
                                <h2>
                                    <span class="text-muted">
                                        Author:
                                    </span>
                                    <a href="/profile/{{ mod.user.username }}">{{ mod.user.username }}</a>
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon">
                                <span class="glyphicon glyphicon-globe"></span>
                            </div>
                            <div class="timeline-label">
                                <h2>
                                    <span class="text-muted">
                                        Mod Website:
                                    </span>
                                    <a href="{{ mod.external_link }}">{{ mod.external_link }}</a>
                                </h2>
                            </div>
                        </div>
                    </div>
                    
                    <div class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon">
                                <span class="glyphicon glyphicon-heart"></span>
                            </div>
                            <div class="timeline-label">
                                <h2>
                                    <span class="text-muted">
                                        Followers:
                                    </span>
                                    {{ mod.follower_count }}
                                </h2>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
