<div class="item col-md-4" {% if user.dark_theme %} style="background-color: #222222; border: #222222;" {% endif %}>
    <div class="thumbnail">
        <a href="{{ url_for("lists.view_list", list_id=list.id, list_name=list.name) }}">
            <div class="header-img" style="
            {% if not list.background %}
            background-image: url(/static/background.png);
            {% else %}
            background-image: url({{ list.background }});
            {% endif %}
            "></div>
        </a>
        <div class="caption">
            <h2 class="group inner list-group-item-heading">
                {{ list.name }}
            </h2>
            <p style="height: 75px; overflow: hidden;">
            {{ list.description }}
            </p>
        </div>
    </div>
</div>
