{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}" />
{% endblock %}
{% block body %}
<div class="container" style="margin-top: 20px;">
    <p>This is meant to be easy to understand, but please <a href="mailto:{{ support_mail }}">send us an email</a>
    if you have any questions.</p>
    <h1>Terms of Use</h1>
    <p>We can and will ban you from the site if you fail to follow these terms. We may also take legal action against
    more serious violations.</p>
    <p>The general idea is "be responsible". Follow these basic rules:</p>
    <ul>
        <li>Do not upload illegal content to the site</li>
        <li>Do not abuse or harrass other users</li>
        <li>Do not upload content you cannot grant licenses to</li>
        <li>Uploaders offer {{ site_name }} a royalty-free, worldwide license to distribute their mods upon uploading them</li>
    </ul>
    <p>We can remove any content whenever we feel like it for any reason at all, with or without notifying the content owner.</p>
    <p>Users of the site agree to monitor the site for changes, while the team makes a best-effort promise to notify about changes.</p>
    <h1>Privacy Policy</h1>
    <p>{{ site_name }} makes an effort to preserve your privacy, while still giving the administration the ability to issue
    bans and take action against abuse. With that in mind, the only thing we keep around that you cannot opt-out of is
    your IP address (in addition to the account information you may voluntarily enter on the site).</p>
    <h2>Data Collection</h2>
    <p>{{ site_name }} uses Piwik to collect anonymous data on your use of the site, and aggregates it with the data
    from other users. This data includes (but is not limited to):</p>
    <ul>
        <li>Your country of origin</li>
        <li>Your browser and operating sytem</li>
        <li>The website you used to get here (i.e. Reddit, Google, etc)</li>
        <li>Your preferred language</li>
        <li>Your Internet Service Provider</li>
        <li>The amount of time you spent on the site and which pages you were on</li>
    </ul>
    <p>You are able to opt-out of this tracking by setting the Do Not Track flag on your browser.</p>
    <h2>Removing Content</h2>
    <p>You are able to delete mods you upload to {{ site_name }}. When you do so, all traces of your mods are deleted from the
    service and are unrecoverable. Upon deletion, all rights granted to {{ site_name }} are revoked, excepting normal distribution
    rights associated with the licensing of the content.</p>
    <p>If you find your content on the site and you did not upload it or do not want it to be there, please
    <a href="mailto:{{ support_mail }}">email support</a> to explain your case.</p>
</div>
{% endblock %}
