{% extends "layout.html" %}
{% block scripts %}
<script src="/static/profile.js"></script>
{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}" />
{% endblock %}
{% block body %}
{% if user.backgroundMedia %}
<style>
html {
    background-image: url('https://mediacru.sh{{ user.backgroundMedia }}');
}
</style>
{% endif %}
<h1>Hi, {{ user.username }}!
    {% if not user.public %}
    <button class="btn btn-primary" data-toggle="modal" data-target="#confirm-public">Make Profile Public</button>
    {% else %}
    <small>Your profile is publicly viewable at <a href="{{ root }}/profile/{{ user.username }}">{{ domain }}/profile/{{ user.username }}</a></small>
    {% endif %}
</h1>
<div class="row">
    <div class="col-md-8">
        <form action="/profile" method="POST">
            <p>Care to tell us a little about yourself?</p>
            <textarea name="description" class="form-control input-block-level" placeholder="Public description" rows=10>{{ user.description }}</textarea>
            <p><a href="http://daringfireball.net/projects/markdown/">Markdown</a> is supported, limit 10000 characters.</p>
            <h3>Other Sites</h3>
            <p>Want to tell people how to find you on other sites?</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input type="text" class="form-control" placeholder="Twitter" name="twitter" value="{{ user.twitterUsername }}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-send"></span></span>
                        <input type="text" class="form-control" placeholder="KSP Forum username" id="ksp-forum-user" name="ksp-forum-user" value="{{ user.forumUsername }}">
                        <input type="hidden" id="ksp-forum-id" name="ksp-forum-id" value="{% if user.forumId %}{{ user.forumId }}{% endif %}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-bullhorn"></span></span>
                        <input type="text" class="form-control" placeholder="IRC handle" name="irc-nick" value="{{ user.ircNick }}">
                    </div>
                </div>
            </div>
            <h3>Background Image</h3>
            <p>You can choose a background image for your profile page. Make it a cool screenshot!</p>
            <div class="upload-well" data-event="upload_bg">
                <a href="#" class="upload-link">Click to upload</a>
                <input type="file">
                <div class="upload-progress"></div>
            </div>
            <input type="hidden" name="backgroundMedia" id="backgroundMedia" value="{{ user.backgroundMedia }}">
            <p></p>
            <input type="submit" class="btn btn-success" value="Save Changes">
        </form>
    </div>
    <div class="col-md-4">
        <h2>Mods you're following</h2>
        <p>You aren't following any mods!</p>
        <a href="/browse" class="btn btn-default btn-block">Browse Mods</a>
        <h2>Mods you've created</h2>
        {% if not mods %}
        <p>You don't have any mods!</p>
        {% endif %}
        {% if not user.public %}
        <p>You have to <a href="#" data-toggle="modal" data-target="#confirm-public">publicize your profile</a> before you can create some new mods, though.</p>
        {% else %}
        {% for mod in mods %}
        {% include "mod-box.html" %}
        {% endfor %}
        <a href="/create" class="btn btn-default btn-block">Upload New Mod</a>
        {% endif %}
    </div>
</div>
<p></p>{# Just to add a little space #}
{% if not user.public %}
<div class="modal fade" id="confirm-public" tabindex="-1" role="dialog" aria-labelledby="confirm-public" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Publicize Profile</h4>
            </div>
            <div class="modal-body">
                This action cannot be undone. Once public, always public.
                All of the info on this page will be shown to anyone who wants to see it, and you'll be listed in the profile directory.
            </div>
            <div class="modal-footer">
                <form action="/profile/{{ user.username }}/make-public" method="POST">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <input type="submit" class="btn btn-primary" value="Publicize Profile">
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
