{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}" />
{% endblock %}
{% block body %}
<div class="well">
    <div class="container">
        <h1>Register for {{ site_name }}</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <form class="form-horizontal col-md-6" role="form" action="/register-oauth" method="POST">
            <input type="hidden" name="provider" value="{{provider}}">
            <input type="hidden" name="remote_user" value="{{remote_user}}">
            <div class="form-group{% if emailError %} has-error{% endif %}">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" placeholder="Email" name="email" value="{{ email }}">
                    {% if emailError %}
                    <span class="text-danger">{{ emailError }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group{% if usernameError %} has-error{% endif %}">
                <label for="username" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="username" placeholder="Username" name="username" value="{{ username }}">
                    {% if usernameError %}
                    <span class="text-danger">{{ usernameError }}</span>
                    {% endif %}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">
                    <i class="fa fa-{{provider_icon}}"></i>
                    Register with {{provider_full_name}}
                    </button>
                    <a href="/" class="btn btn-link">Nevermind</a>
                </div>
            </div>
        </form>
        <div class="col-md-6">
            <p>This will create a new account for you, which you can log-in to using your {{provider_full_name}} account.</p>
            <p>If you already have an account:</p>
            <ul>
                <li>Use the <a href="/login">LOG IN</a> page to log-in.</li>
                <li>If you forgot your password, use the <a href="/forgot-password">Forgot Password</a> link.</li>
                <li>Then Edit your Profile to connect your {{provider_full_name}} account.</li>
            </ul>
            <p>If you run into any trouble, please <a href="mailto:{{ support_mail }}">get in touch</a>.</p>
        </div>
    </div>
</div>
{% endblock %}
