{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />
{% endblock %}
{% block search %}
<form class="navbar-form navbar-search" role="search" action="/search" method="GET">
    <div class="form-group">
        <input type="text" class="form-control search-box" name="query" placeholder="Search mods..." value="{{query}}">
    </div>
</form>
{% endblock %}
{% block body %}
<div class="well">
    <div class="container">
        <h1>Search for "{{ query }}"</h1>
    </div>
</div>
<div class="container">
    {% if not any(results) %}
    <p>Nothing to see here. If you're looking for a specific mod, why not ask the modder to upload it here?</p>
    {% endif %}
    <div class="row">
    {% for mod in results %}
        {% include "mod-box.html" %}
    {% endfor %}
    </div>
</div>
{% endblock %}
