{% extends "layout.html" %}
{% block scripts %}
<script src="/static/update.js"></script>
{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mod.css') }}" />
{% if mod.background %}
<style>
html {
    background-image: url('https://mediacru.sh{{ mod.background }}');
}
</style>
{% endif %}
{% endblock %}
{% block body %}
<h1>
    {{ mod.name }}
    <small>Publish new version</small>
</h1>
<form class="row" action="/mod/{{ mod.id }}/post/update" method="POST" enctype="multipart/form-data">
    <div class="col-md-8">
        <p>We need a new zip file, please.</p>
        <input type="file" name="zipball" id="zipball" class="hidden">
        <div class="upload-well" data-file="zipball" data-event="upload_zipball" style="height: 362px; line-height: 362px;">
            <a href="#" class="upload-link">Drag and drop or click to upload</a>
            <div class="upload-progress"></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="version" class="control-label">Mod Version <small class="text-muted">Currently {{ mod.versions[0].friendly_version }}</small></label>
            <input type="text" class="form-control" id="version" name="version" placeholder="A user-friendly version, like &quot;1.0.0&quot;">
        </div>
        <div class="form-group">
            <label for="ksp-version" class="control-label">KSP Version</label>
            <input type="text" class="form-control" id="ksp-version" name="ksp-version" placeholder="The last supported version of Kerbal Space Program">
        </div>
        <div class="form-group">
            <label for="changelog" class="control-label">Changelog <small class="text-muted">Markdown supported</small></label>
            <textarea class="form-control" rows="5" id="changelog" name="changelog" placeholder="A short summary of the changes"></textarea>
        </div>
        <p>0 followers will be notified about this update.</p>
        <a href="#" class="btn btn-primary btn-lg btn-block" id="submit-button">Publish</a>
    </div>
</form>
{% endblock %}
