{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}" />
{% endblock %}
{% block title %}
<title>{{ profile.username }} on Kerbal Stuff</title>
{% endblock %}
{% block body %}
{% if profile.backgroundMedia %}
<style>
html {
    background-image: url('https://mediacru.sh{{ profile.backgroundMedia }}');
}
</style>
{% endif %}
<h1>{{ profile.username }}'s Profile <small>on Kerbal Stuff</small></h1>
<div class="row">
    <div class="col-md-8">
        {% if user.username == profile.username %}
        {% if user.public %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            This is your public profile on Kerbal Stuff. Share <a href="/profile/{{ profile.username }}">this link</a> to show it to the world.
        </div>
        {% else %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Your profile is currently private. <a href="/profile">Edit your profile</a> to make it public.
        </div>
        {% endif %}
        {% endif %}
        <p>{{ profile.description | markdown }}</p>
    </div>
    <div class="col-md-4">
        {% if profile.twitterUsername or profile.forumUsername or profile.ircNick %}
        <dl class="dl-horizontal">
            {% if profile.twitterUsername %}
            <dt>Twitter</dt>
            <dd><a href="https://twitter.com/{{ twitterUsername }}">@{{ profile.twitterUsername }}</a></dd>
            {% endif %}
            {% if profile.forumUsername %}
            <dt>KSP Forums</dt>
            <dd><a href="http://forum.kerbalspaceprogram.com/members/{{ profile.forumId }}-{{ profile.forumUsername }}">{{ profile.forumUsername }}</a></dd>
            {% endif %}
            {% if profile.ircNick %}
            <dt>IRC Nick</dt>
            <dd>{{ profile.ircNick }}</dd>
            {% endif %}
        </dl>
        {% endif %}
        {% if user and user.id != profile.id %}
        {% if following_user(profile) %}
        <a href="#" class="btn btn-block btn-warning">Unfollow {{ profile.name }}</a>
        {% else %}
        <a href="#" class="btn btn-block btn-primary">Follow {{ profile.name }}</a>
        {% endif %}
        {% endif %}
    </div>
</div>
<h2>{{ profile.username }}'s Mods</h2>
{% if len(mods) == 0 %}
<p>{{ profile.username }} hasn't created any mods yet.</p>
{% else %}
<div class="row">
    {% for mod in mods %}
    <div class="col-md-4">
        {% include "mod-box.html" %}
    </div>
    {% endfor %}
</div>
{% endif %}
<h2>Mods {{ profile.username }} follows</h2>
<p>{{ profile.username }} isn't following any mods.</p>
<p></p>{# Just to add a little space #}
{% endblock %}
