.item .ksp-update {
    position: absolute;
    float: right;
    right: 1px;
    top: 21px;
    color: #fff;
    background: rgba(0,0,0,0.5);
    padding: 4px 10px;
    font-size: 15px;
}

.item .following-mod {
    position: absolute;
    float: right;
    left: 1px;
    top: 21px;
    color: #fff;
    background: rgba(119,162,64,0.5);
    padding: 4px 10px;
    font-size: 15px;
}

.thumbnail .header-img {
    background-size: 100% auto;
    height: 200px;
    display: block;
}

.thumbnail {
    margin-bottom:20px;
    margin-top:20px;
    padding:0;
    border-radius:0
}

.item {
    background-color:#fff;
    position:relative;
    display:block;
    padding:0;
    background-color:#fff;
    border:1px solid #fff

    h2 {
        font-size: 18pt;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .btn-primary {
        border-radius: 0;
    }
}

.item:nth-of-type(odd):hover, .item:hover {
    background:#fff
}

.item {
    background:#fff
}

.item .list-group-image {
    margin-right:10px
}

.item .thumbnail {
    margin-bottom:0;
    text-align:center
}

.item .caption {
    padding:9px 9px 0
}

.item .caption h2 {
        font-size: 18pt;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
}

.item:nth-of-type(odd) {
    background:#fff
}

.item:before, .item:after {
    display:table;
    content:" "
}

.item img {
    float: left;
}

.item:after {
    clear:both
}

.item-text {
    margin:0 0 11px
}

.thumbnail .caption {
    padding:9px;
    color:#333;
    overflow:hidden
}
