@import 'stylesheet';
@import 'timeline';

.header {
    background-position: center center;
    background-size: cover;
    height: 400px;
}

.lead {
    padding: 10px 0;
    margin-bottom: 0;

    h1 {
        padding: 0;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .btn {
        border-radius: 0;
    }
}

.info-list {
    background: #333;
    color: #fff;
    padding-top: 10px;
}
