@import 'stylesheet.scss'

.container .modtron {
    position: relative;
    border-radius: 0;
    padding: 0;
    margin: 0;
    background: no-repeat center -100px fixed #ccc; 

    h1 {
        font-size: 35pt;
    }

    ul {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0;
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 11pt;

        li {
            margin: 0;
            padding: 0;

            .left, .right {
                background: rgba(255, 255, 255, 0.8);
                padding: 5px;

                .glyphicon {
                    position: relative;
                    top: 2px;
                    margin-right: 2px;
                }
            }

            .right.red {
                background: rgba(180, 50, 50, 0.8);

                a {
                    color: #fff;
                }
            }

            .right.green {
                background: rgba(50, 180, 50, 0.8);

                a {
                    color: #fff;
                }
            }

            .left {
                position: relative;
                top: 1px;
                margin-right: 1px;
                width: 150px;
                display: inline-block;
                line-height: 14px;
            }

            .right {
                text-align: center;
                width: 100px;
                display: inline-block;
                line-height: 16px;
            }
        }
    }

    .inner {
        background: rgba(255, 255, 255, 0.8);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 60%;
        min-height: 50%;
        padding: 10px 10px 10px 50px;

        h1 {
            display: inline;
        }
    }
}

.download-link {
    position: absolute;
    background: no-repeat center -100px fixed; 
    /*left: calc(60% - 300px); Workaround for scss issue */
    bottom: 0;
    width: 300px;
    text-align: center;
    padding-left: 2px;
    padding-top: 2px;

    a {
        color: #000;
        background: rgba(255, 255, 255, 0.8);
        transition: background-color linear 0.25s;
        display: block;

        &:hover {
            text-decoration: none;
            background: rgba(255, 255, 255, 0.9);
        }

        &.red {
            background: rgba(255, 0, 0, 0.8);
            color: #fff;

            &:hover {
                background: rgba(255, 0, 0, 0.9);
            }
        }
    }
}

.sexy-nav {
    li {
        background: no-repeat center -100px fixed; 

        &.active a {
            background: rgba(255, 255, 255, 0.8);
            color: #000;
            transition: background-color linear 0.25s;

            &:hover, &:focus {
                border-radius: 0;
                background: rgba(255, 255, 255, 0.9);
                color: #000;
            }
        }

        a {
            border-radius: 0;
            padding-left: 25px;
            padding-right: 25px;
            color: #fff;

            &:hover, &:focus {
                background: rgba(255, 255, 255, 0.8);
                color: #000;
            }
        }
    }
}

.sexy-nav-wrapper {
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
    margin-bottom: 30px;
}

.carousel {
    margin-bottom: 50px;

    img {
        max-height: 400px;
        margin: 0 auto;
    }
}

.borderh {
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
