@import 'stylesheet';
@import 'timeline';
@import 'listing';

.header {
    background-position: center center;
    background-size: cover;
    height: 400px;
}

.lead {
    padding: 10px 0;
    margin-bottom: 0;

    h1 {
        padding: 0;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .btn {
        border-radius: 0;
    }
}

.info-list {
    background: #333;
    color: #fff;
    padding-top: 10px;
}

.mod-tabs {
    position: relative;
    display: flex;

    a {
        border-radius: 0;
        flex-grow: 1;
        font-size: 14pt;
        border: none;
    }
}

.tab-container {
    position: relative;

    .mod-tabs {
        z-index: 1;
    }

    &.no-sides {
        &:before {
            display: none;
        }
        &:after {
            display: none;
        }
    }

    &:before {
        width: 50%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #428BCA;
        z-index: 0;
        content: '';
    }

    &:after {
        width: 50%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #5BC0DE;
        z-index: 0;
        content: '';
    }
}

.tab-content {
    padding-top: 50px;
}

#changelog {
    p {
        color: #000;
    }

    .timeline-centered:before {
        background-color: #ddd;
    }

    .timeline-icon {
        margin-top: 8px;
    }

    .timeline-label {
        h2 {
            color: #000;
            font-size: 18pt;

            small {
                font-size: 12pt;
            }
        }
    }
}

.chart-key {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        display: inline;
        margin-right: 5px;

        .key-color {
            display: inline-block;
            height: 8px;
            line-height: 12px;
            width: 20px;
            margin-right: 5px;
        }
    }
}

.header.upload-well {
    padding-top: 150px;
    text-align: center;
    position: relative;

    h2 {
        padding: 0;
    }

    input {
        display: none;
    }

    .directions {
        position: absolute;
        bottom: 5px;
        width: 100%;
        text-align: center;
        text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;
        color: #fff;
        z-index: 1;
    }

    a, p.status {
        font-size: 24pt;
        text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;
        position: relative;
        color: #fff;
        z-index: 1;
    }

    .upload-progress {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        background-color: rgba(50, 50, 50, 0.5);
        opacity: 1;
        transition: opacity 0.5s linear;

        &.fade-out {
            opacity: 0;
        }
    }
}

.tab-content {
    img {
        max-width: 100%;
    }
}

.md-well {
    p {
        margin: 10px 0 10px;
    }
}

.pack-item {
    padding: 20px;
    margin: 20px 0;

    .btn {
        border-radius: 0;
    }
}
