.navbar ::-webkit-input-placeholder {color: #fff;}
.navbar :-moz-placeholder {color: #fff;}
.navbar ::-moz-placeholder {color: #fff;}
.navbar :-ms-input-placeholder {color: #fff;}  

.navbar {
  margin-bottom: 0;
  background-color: rgba(29,60,142,1); /* #1D3C8E */
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-brand {
  font-weight: 700;
  width: 195px;
  height: 43px;
  padding: 3px 0px 0px 0px;
}

.navbar-brand:focus { 
  outline: 0; 
}

.navbar .nav li a { 
  transition: background 0.3s ease-in-out;
  color: #fff;
}

.navbar .nav li a:hover,
.navbar .nav li a:focus,
.navbar .nav .active {
  outline:0;
  background-color:rgba(255,255,255,0.5)
}

.nav .open > a,.nav .open > a:hover,.nav .open > a:focus {
  background-color:rgba(255,255,255,0.5);
  border-color:#1D3C8E
}

.dropdown-menu {
    position:absolute;
    top:100%;
    left:0;
    z-index:1000;
    display:none;
    float:left;
    min-width:160px;
    padding:0;
    margin:0;
    font-size:14px;
    text-align:left;
    list-style:none;
    background-color:rgba(29,60,142,1); /* #1D3C8E */;
    background-clip:padding-box;
    border:1px solid rgba(29,60,142,1); /* #1D3C8E */;
    border:1px solid rgba(29,60,142,1); /* #1D3C8E */;
    border-radius:4px;
    color:#fff
}

.dropdown-menu .divider:nth-of-type(1) {
  display: none;
}

.custom-search-form {
    margin:0;
    margin-top:0;
    padding:0
}

.custom-search-form input {
    padding: 15px;
    margin-bottom: 0;
    border-radius: 0;
    background-color: rgba(255,255,255,0.5);
    border: none;
}

.custom-search-form button {
    border:0;
    background:none;
    padding:2px 5px;
    margin-top:2px;
    position:relative;
    left:-28px;
    margin-bottom:0;
    border-radius:3px
}

.search-query:focus + button {
    z-index:3
}

.navbar-form {
    float:right
}

.dropdown-menu > li > a {
    color:#fff
}

.navbar-toggle {
    padding:4px 6px;
    font-size:16px;
    color:#fff
}

.navbar-toggle:focus,.navbar-toggle:active {
    outline:0
}

.navbar .search-box {
    padding: 10px;
    margin-bottom: 0;
    border-radius: 0;
    background-color: rgba(255,255,255,0.52);
    border: none;
    color: #000;
    color: #333;
    box-shadow: none;
    transition: box-shadow 0.2s linear;

    &:active, &:focus {
        box-shadow: 0 0 2px 2px #444;
    }
}

.nav input {
    padding: 10px;
    margin-bottom: 0;
    border-radius: 0;
    background-color: rgba(255,255,255,0.52);
    border: none;
    color: #000;
    color: #333;
    box-shadow: none;
    transition: box-shadow 0.2s linear;

    width: 90%;
    margin-left: 5%;
    margin-top: 10px;

    &:active, &:focus {
        box-shadow: 0 0 2px 2px #444;
    }
}

.nav .checkbox {
    line-height: 36px;
    height: 15px;
    padding-left: 40px;

    input {
        width: inherit;
    }
}

.nav .dropdown input.btn,
.nav .dropdown button.btn {
    padding:10px;
    margin-bottom:0;
    border-radius:0;
    background-color:rgba(255,255,255,0.52);
    border:none;
    width:80%;
    margin-left:10%;
    color:#000;
    margin-top:10px;
    color:#333
}

@media (min-width:767px) {
    .navbar {
        padding:0;
        border-bottom:0;
        letter-spacing:1px
    }

    .navbar .top-nav-collapse {
        border-bottom:1px solid rgba(0,0,0,0)
    }
}

@media (min-width:768px) and (max-width:992px) {
    .navbar-brand {
        padding-right:10px;
    }
    .navbar-nav>li>a {
        padding-left:10px;
        padding-right:10px;
    }
    .navbar-search {
        padding:0 6px;
    }
}

.nav > li > a:hover,.nav > li > a:focus {
    text-decoration:none;
    background-color:transparent
}