.profile-page {
    .modtron {
	background: no-repeat; 

	.inner {
	    min-height: 0;
	    margin-bottom: 0;
	    padding-bottom: 0;
	}

	.alert {
	    font-size: 10pt;

	    button {
		position: relative;
		top: 5px;
	    }
	}

	.adminstuff {
	    font-size: 10pt;

	    dt {
		width: 100px !important;
	    }

	    dd {
		margin-left: 120px !important;
	    }
	}
    }
}
