@import 'mod.scss'

.container .modtron {
    background: no-repeat; 

    .inner {
        min-height: 0;
    }

    .alert {
        font-size: 10pt;

	button {
	    position: relative;
	    top: 5px;
	}
    }
}
