html { 
  background: url(/static/bg5.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    background: transparent;
    color: #fff;
}

.fader {
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.jumbotron, .well, .modal, .panel {
    color: #000
}

.centered {
    text-align: center;
}

.bg-well {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  position: relative;

  & > * {
    position: relative;
    z-index: 1;
  }

  .fader {
    position: absolute;
  }
}

.upload-well {
    display: block;
    border-radius: 5px;
    border: 2px solid #fff;
    text-align: center;
    height: 200px;
    line-height: 200px;
    font-weight: bold;
    font-size: 16pt;
    position: relative;

    input {
        display: none;
    }

    a {
        text-decoration: none;
    }

    .upload-progress {
        left: 0;
        bottom: 0;
        top: 0;
        position: absolute;
        z-index: -1;
        background-color: rgba(255, 255, 255, 0.25);
        opacity: 1;
        transition: opacity 1s linear;

        &.fade-out {
            opacity: 0;
        }
    }
}

label small {
  font-weight: normal;
}

.footer {
  padding-top: 50px;
}
