body {
    background: #FFF;
    color: #333;
    padding-top: 50px;
}

.centered {
    text-align: center;
}

.markdown img {
    display: block;
    margin: 0 auto;
}

.btn-download,.btn-download:hover {
    color: #fff;
    background-color: #556ADA;
    border-color: #556ADA;
    transition: background .3s ease-in-out;
}

.btn-follow,.btn-follow:hover {
    color: #fff;
    background-color: #CA4242;
    border-color: #CA4242;
    transition: background .3s ease-in-out;
}

.btn-download-home {
    color: #fff;
    background-color: #bbb;
    border-color: #bbb;
    transition: background .3s ease-in-out;
}

.btn-download-home:hover {
    color: #fff;
    background-color: #556ADA;
    border-color: #556ADA;
}

.btn-follow-home {
    color: #fff;
    background-color: #bbb;
    border-color: #bbb;
    transition: background .3s ease-in-out;
}

.btn-follow-home:hover {
    color: #fff;
    background-color: #CA4242;
    border-color: #CA4242;
}

.btn-miscellaneous, .btn-miscellaneous:hover {
    color: #fff;
    background-color: #333;
    border-color: #333;
    transition: background .3s ease-in-out;
}

input[type="text"], input[type="password"], input[type="email"] {
    border-radius: 0;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.error-banner {
    height: 800px;
    background-size: cover;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;
    padding-top: 250px;

    h3 {
        font-size: 38pt;
    }

    .btn {
        width: 250px;
        border-radius: 0;
        font-size: 14pt;
        text-shadow: none;
    }
}

.well h1 {
    margin: 0;
    padding: 0;
}

.well.danger {
    background-color: #F2DEDE;
    margin: 0;
}

.well.success {
    background-color: #DFF0D8;
    margin: 0;
}

.well.info {
    background-color: #D9EDF7;
    margin: 0;
}

.well.warning {
    background-color: #FCF8E3;
    margin: 0;
}
.alert-fixed {
    position: fixed;
    top: 30px;
    width: 600px;
    margin-left: -300px;
    left: 50%;
    z-index: 9999;
}
.no-margin {
    margin: 0
}

.btn {
    position: relative;

    .progress {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.2s linear;

        &.active {
            opacity: 1;
        }
    }

    .progress-label {
        position: relative;
        z-index: 2;
    }
}

@import "typeahead";
@import "navigation";
