@import "stylesheet";

.upload-mod {
    height: 300px;
    border: 5px dotted #ccc;
    line-height: 280px;

    a, p {
        font-size: 32pt;

        &:hover {
            text-decoration: none;
        }
    }
}
